<template>
  <section class="about top-spacing pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-4">
          <b-breadcrumb :items="items"></b-breadcrumb>
        </div>
        <div class="col-md-12 pb-4">
          <h1>{{category_name}}</h1>
        </div>
		<div class="col-md-3" v-for="(product,index) in products" :key="index">
		  <SingleCard :product="product" />
		</div>
		<div class="col-md-12 pb-4 text-center" v-if="products.length == 0">
			<p>No Products Found</p>
		</div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import SingleCard from "@/components/SingleCard.vue";

export default {
	name: "CategoryView",
	components: {
		SingleCard,
	},
	data() {
		return {
			products:[],
			category:[],
			category_name:'',
			items: [
				{
					text: "Home",
					to: "/",
				},
				{
					text: (this.$route.params.name),
					active: true,
				},
			],
		};
	},
	watch: {
		$route(to, from) {
			// react to route changes...
			this.items[1].text = this.$route.params.name
			this.category_name = this.$route.params.name
			this.getCategoryProducts(this.$route.params.slug);
		}
	},
	mounted(){
		window.scrollTo(0, 0);
		this.getCategoryProducts(this.$route.params.slug)
	},
	methods: {
        getCategoryProducts(slug) {
			axios.get('/category/'+slug)
			.then(response => {
				this.category = response.data.data.category;
				this.products = response.data.data.products;
				if(this.category){
					this.items[1].text = this.category.name;
					this.category_name = this.category.name
				}
			})
			.catch(function (error) {
				console.log(error);
			});
        }
    }
	
};
</script>
