<template>
  <section class="cartview top-spacing pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-0">Secure Checkout</h3>
          <p>You have {{products.length}} items in your cart</p>
        </div>
        <div class="col-md-8 pdg-lt">
          <div class="cart-card mb-3 remove-before">
            <h5>Profile Login</h5>
            <p>{{$store.getters.getLoggedUser.name}} . {{$store.getters.getLoggedUser.mobile}}</p>
            <hr />
			<div v-if="$store.getters.getLoggedUser.mobile <= 0 || !$store.getters.getLoggedUser.mobile" class="phone-number-verfication">
				<h5>Phone Number Verification</h5>
				<p>
				  Kindly enter your registered phone number for OTP verification
				</p>
				<div class="row">
				  <div class="col-7 phn-no-ver">
					<label for="input-with-list" class="mob-code">+91</label>
					<b-form-input
					  v-model="mobile"
					  placeholder="Enter your number"
					  v-bind:readonly="showOtp"
					  maxlength="10"
					></b-form-input>
					<span class="message-error-input" v-if="errors.mobile">{{errors.mobile}}*</span>
				  </div>
				  <div class="col-5">
					<button v-show="!showOtp" v-on:click.prevent="sendOTP()" type="submit" class="btn btn-primary mb-2">
					  Send OTP
					</button>
				  </div>
				</div>
				<p v-if="showOtp">
				  Enter the OTP send to {{mobile}}
				  <a v-on:click.prevent="showOtp = false" class="primary-link mrgin-lft">Change number</a>
				</p>
				<div class="row" v-if="showOtp">
				  <div class="col-7 otp-enter">
					<b-form-input
						v-model="otp"
						maxlength="6"
						placeholder="Enter OTP"
					></b-form-input>
					<span class="message-error-input" v-if="errors.otp">{{errors.otp}}*</span>
				  </div>
				  <div class="col-5">
					<button type="submit" v-on:click.prevent="verifyOTP()" class="btn btn-primary mb-2">
					  Confirm
					</button>
				  </div>
				</div>
				<p class="mb-0" v-if="showOtp">
				  <a v-on:click.prevent="sendOTP()" class="primary-link">Resend OTP</a>
				</p>
			</div>
            <span class="icon-active" v-if="!otpSuccess">
              <img src="@/assets/images/active.png" class="img-fluid" />
            </span>
			<span class="icon-active" v-if="otpSuccess">
              <img src="@/assets/images/active.png" class="img-fluid" />
            </span>
          </div>
          <div class="cart-card mb-3" :class="{ 'delivery' : !otpSuccess }">
            <h5>
              Delivery Address
              <a class="primary-link float-right" href="javascript:void(0)" id="show-btn" @click="changeAddress()">CHANGE</a>
            </h5>
			<div v-if="chosenAddress.id > 0">
				<p class="mb-0">
				<span class="mid-head" v-if="chosenAddress.address_type == 1">Home:</span>
				<span class="mid-head" v-if="chosenAddress.address_type == 2">Office:</span>
				<span class="mid-head" v-if="chosenAddress.address_type == 3">Other:</span>
				{{chosenAddress.flat}}, <br>
				{{chosenAddress.address}}, <br>
				{{chosenAddress.area}}, <br>
				{{chosenAddress.landmark}}
				</p>
				<input type="hidden" name="address_id" :value="chosenAddress.id">
			</div>
			<div v-else>
				<p class="mb-0">Please add a delivery address to continue</p>
				<div
				  class="no-adrs mt-3"
				  id="show-btn"
				  @click="$bvModal.show('bv-modal-address')"
				>
				  <h6>No Address Selected</h6>
				  <p class="mb-0">
					<img src="@/assets/images/add.png" class="img-fluid" /> Please
					add a delivery address to continue
				  </p>
				</div>
			</div>
            <span class="icon-active" v-if="chosenAddress.id">
              <img src="@/assets/images/active.png" class="img-fluid" />
            </span>
			<span class="icon-active" v-if="!chosenAddress.id">
              <img src="@/assets/images/step-two.png" class="img-fluid" />
            </span>
          </div>
		  <div class="cart-card mb-3">
            <h5>
              Delivery Slot
            </h5>
			<p class="mb-0">
				<strong>{{chkToday}}</strong>
			</p>
			<div class="slot-select other-varients mt-3">
				<div class="container">
					<div class="row">
						<div class="col-md-12 pl-0">
							<a href="javascript:void(0)" @click="selectSlot(1)" v-bind:class="{ selected: selected_slot == 1 }" >9AM - 11AM</a>
							<a href="javascript:void(0)" @click="selectSlot(2)" v-bind:class="{ selected: selected_slot == 2 }">11AM - 1PM</a>
							<a href="javascript:void(0)" @click="selectSlot(3)" v-bind:class="{ selected: selected_slot == 3 }">1PM - 3PM</a>
							<a href="javascript:void(0)" @click="selectSlot(4)" v-bind:class="{ selected: selected_slot == 4 }">3PM - 5PM</a>
							<a href="javascript:void(0)" @click="selectSlot(5)" v-bind:class="{ selected: selected_slot == 5 }">5PM - 7PM</a>
						</div>
					</div>
				</div>
			</div>
			<span class="icon-active">
              <img src="@/assets/images/active.png" class="img-fluid" />
            </span>
          </div>
          <div class="cart-card mb-3 cart-collapse remove-after " :class="{ 'payment' : !chosenAddress.id }">
            <div v-b-toggle.collapse-1 variant="primary" class="collapsebtn">
              <h5>Payment</h5>
              <p class="mb-0">
                Choose your payment method
              </p>
            </div>
            <b-collapse id="collapse-1" class="mt-2">
              <b-card class="inner-collapse">
                <div class="cart-card mb-3 mt-3 remove-after remove-before">
                  <div class="row pb-3">
                    <div class="col-8">Total Amount</div>
                    <div class="col-4 text-right pl-0">₹{{ total | round }}</div>
                  </div>
				  <div class="row pb-3">
                    <div class="col-8">Discount <span class="pt-1" v-if="appliedPromo"><b>({{appliedPromo}})</b></span></div>
                    <div class="col-4 text-right pl-0">₹{{ discountTotal | round }}</div>
                  </div>
				  <div class="row pb-3">
                    <div class="col-8">SGST</div>
                    <div class="col-4 text-right pl-0">₹{{ taxTotal/2 }}</div>
                  </div>
				  <div class="row pb-3">
                    <div class="col-8">CGST</div>
                    <div class="col-4 text-right pl-0">₹{{ taxTotal/2 }}</div>
                  </div>
                  <div class="row pb-1">
                    <div class="col-8">
                      <b>Total Amount Payable</b> (inc of all taxes)
                    </div>
                    <div class="col-4 text-right pl-0"><b>₹{{ totalPayable | round }}</b></div>
                  </div>
                </div>
                <div
                  class="offers-green mb-3"
                  id="show-btn"
                  @click="$bvModal.show('bv-modal-promocode')"
                >
                  <h5>Offers</h5>
                  <p class="mb-0">
                    <img src="@/assets/images/discount.png" class="img-fluid" />
                    Select a promo code, if applicable to avail the offer
                  </p>
                </div>
				<Promocodeoffers />
                <div class="payment-method-tabs">
                  <b-tabs content-class="mt-3" align="center">
                    <!-- <b-tab title="Wallet" active
                      ><p>I'm the first tab</p></b-tab
                    > -->
                    <b-tab title="Cash on delivery" active>
                      <div class="proceed-to-checkout">
                        <div class="centerd">
                          <img
                            src="@/assets/images/del.png"
                            class="img-fluid mb-3"
                          />
                          <p>
                            Please pay ₹{{ totalPayable | round }} to the delivery executive when
                            your order is delivered
                          </p>
                          <a v-on:click.prevent="confirmOrder()" class="btn btn-primary d-block">Proceed to checkout</a>
                        </div>
                      </div>
                    </b-tab>
                    <b-tab title="Pay Online">
						<div class="pay-online">
							<div class="centerd">
								<button @click="makePayment" class="btn btn-primary d-block">Pay Now</button>
							</div>
                      	</div>
					</b-tab>
                  </b-tabs>
                </div>
              </b-card>
            </b-collapse>
            <span class="icon-active">
              <img src="@/assets/images/step-3.png" class="img-fluid" />
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cart-subtotal">
            <div class="subtotal-wrap">
              <div class="row pb-1">
                <div class="col-6">Subtotal</div>
                <div class="col-6 text-right">₹{{ total | round }}</div>
              </div>
			  <div class="row pb-1">
                <div class="col-6">Delivery Charge</div>
                <div class="col-6 text-right green">Free</div>
              </div>
              <div class="row pb-1">
                <div class="col-6">SGST</div>
                <div class="col-6 text-right">₹{{ taxTotal/2 }}</div>
              </div>
			  <div class="row pb-1">
                <div class="col-6">CGST</div>
                <div class="col-6 text-right">₹{{ taxTotal/2 }}</div>
              </div>
              <div class="row pb-1">
                <div class="col-6">Discount <span class="pt-1" v-if="appliedPromo"><b>({{appliedPromo}})</b></span></div>
                <div class="col-6 text-right">₹{{ discountTotal | round }}</div>
              </div>
              <hr />
              <div class="row total-amount">
                <div class="col-6">Total Amount</div>
                <div class="col-6 text-right">₹{{ totalPayable | round }}</div>
              </div>
            </div>
            <div
              class="btn btn-primary d-block"
              id="show-btn"
              @click="$bvModal.show('bv-modal-mycart')"
            >
              My Cart ({{products.length}} items)
              <span>View ></span>
            </div>
			<Mycart />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style>
.delivery,.payment {
  pointer-events: none;
}
.slot-select .selected{
	text-decoration: none;
	background: #5acc00;
	color: #fff !important;
	border: 1px solid #5acc00 !important;
	cursor: pointer;
}
</style>
<script>
// @ is an alias to /src
import { mapGetters, mapState, mapActions } from 'vuex'
import Mycart from "@/components/Mycart.vue";
import Promocodeoffers from "@/components/Promocodeoffers.vue";
import { bus } from '../main'
import moment from 'moment-timezone'

export default {
	name: "Checkout",
	components: {
		Mycart,
		Promocodeoffers
	},
	data() {
		return {
			mobile: '',
			chkToday: '',
			showOtp: false,
			otp: '',
			otpSuccess:false,
			errors:{
				mobile: false,
				otp: false,
			},
			isReadOnly:false,
			discountTotal:0,
			selectedAddress:{},
			appliedPromo:'',
			promocodeId:0,
			//taxTotal:0,
			selected_slot:1,
			slotDay:0,
		};
	},
	mounted () {
		window.scrollTo(0, 0);
		this.getProfile();
		if(this.$store.getters.getLoggedUser.mobile > 0){
			this.otpSuccess = true;
		}
		
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  products: 'cartProducts',
		  total: 'cartTotalPrice',
		  taxTotal: 'cartTotalGST',
		  address:'customerAddresses',
		  chosenAddress:'getCurrentAddress'
		}),
		totalPayable:function(){
			return (this.total + this.taxTotal) - this.discountTotal;
		}
	},
	methods:{
		makePayment: function(ev) {
			var self = this;
			ev.preventDefault();
			axios.post('/create-razorpay-order',{
				amount: this.totalPayable,
				currency: "INR"				
			})
			.then(function(response){
				//Initiation of Razorpay PG
				var rzp1 = new Razorpay({
					key: "rzp_test_5eNsJtTfP4GrrE",
					amount: response.amount,
					currency: "INR",
					name: "Freshoppe",
					description: "Order Transaction",
					image: "https://freshoppe.com/img/logo.a695d4f0.png",
					order_id: response.data.id,
					handler: function (response){
						self.confirmRazorPayOrder(response);
					},
					prefill: {
						name: self.$store.getters.getLoggedUser.name,
						email: self.$store.getters.getLoggedUser.email,
						contact: self.$store.getters.getLoggedUser.mobile,
					},
					notes: {
						address: ""
					},
					theme: {
						color: "#3399cc"
					},
					//callback_url: "http://domain.com/#/about/" + this.order_id,
					//redirect: true
				});
				rzp1.open();
			})
			.catch(err => {
				console.log("ERR", err);
			});
		},
		getProfile(){
			axios.get('/users/profile')
			.then(response => {
				this.$store.dispatch('setAddress', response.data.data.address)
			})
		},
		sendOTP() {
			var self = this;
			this.errors.mobile = '';
			if (!this.mobile) {
				this.errors.mobile = 'Mobile number is required.';
			} else if (!this.validMobile(this.mobile)) {
				this.errors.mobile = 'Mobile number must be 10 digits.';
			} 
			if (!this.errors.mobile) {
				axios.post('/verify-phone', {mobile : this.mobile})
				.then(function(response){
					self.showOtp 	= true;
				})
				.catch(function (error) {
					try {
						if(error.response.status == 409) {
							self.errors.mobile = error.response.data.message
						}
					} catch(e) {
						console.log(e)
					}
				});
			}
		},
		verifyOTP(){
		
			var self = this;
			this.errors.otp = '';
			if (!this.otp) {
				this.errors.otp = 'OTP is required.';
			} else if (!this.validOTP(this.otp)) {
				this.errors.otp = 'OTP number must be 6 digits.';
			}
			
			if (!this.errors.otp) {
				axios.post('/verify-otp', {mobile : this.mobile,otp:this.otp})
				.then(function(response){
					self.otpSuccess 	= true;
					self.$store.dispatch('loggedUser', response.data)
				})
				.catch(function (error) {
					try {
						if(error.response.status == 409) {
							self.errors.otp = error.response.data.message
						}
					} catch(e) {
						console.log(e)
					}
				});
			}
		},
		validMobile: function (mobile) {
		  var re = /^\d{10}$/;
		  return re.test(mobile);
		},
		validOTP: function (otp) {
		  var re = /^\d{6}$/;
		  return re.test(otp);
		},
		changeAddress(){
			this.$bvModal.show('bv-modal-address-change');
		},
		selectSlot:function(el){
			this.selected_slot = el;
		},
		getNow: function() {
			const today = new Date();
			const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
			const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
			const dateTime = date +' '+ time;
			//this.timestamp = dateTime;
			
			const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
			const Ctime = '19' + ":" + '00' + ":" + '00';
			const CdateTime = Cdate +' '+ Ctime;
			var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
			var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			
			if(this.selected_slot == 1){
				const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				const Ctime = '11' + ":" + '00' + ":" + '00';
				const CdateTime = Cdate +' '+ Ctime;
				var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
				var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			}
			
			if(this.selected_slot == 2){
				const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				const Ctime = '13' + ":" + '00' + ":" + '00';
				const CdateTime = Cdate +' '+ Ctime;
				var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
				var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			}
			
			if(this.selected_slot == 3){
				const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				const Ctime = '15' + ":" + '00' + ":" + '00';
				const CdateTime = Cdate +' '+ Ctime;
				var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
				var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			}
			
			if(this.selected_slot == 4){
				const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				const Ctime = '17' + ":" + '00' + ":" + '00';
				const CdateTime = Cdate +' '+ Ctime;
				var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
				var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			}
			
			if(this.selected_slot == 5){
				const Cdate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
				const Ctime = '19' + ":" + '00' + ":" + '00';
				const CdateTime = Cdate +' '+ Ctime;
				var date1 = moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
				var date2 = moment(CdateTime).format('YYYY-MM-DD HH:mm:ss')
			}
			
			if(date1 <=  date2){
				this.chkToday = 'Today ('+ moment(dateTime).format('DD-MM-YYYY') + ')';
				this.slotDay	  = 1;
			} else {
				this.chkToday = 'Tomorrow ('+ moment().add(1, 'days').format('DD-MM-YYYY') + ')';
				this.slotDay	  = 2;
			}
        },
		confirmRazorPayOrder(result){
			var self = this;
			axios.post('/create-order',{
				addressId : this.chosenAddress.id,
				paymentType : 2,
				subTotal: this.total,
				taxRate: 0,
				taxTotal: this.taxTotal,
				discountRate: 0,
				discountTotal: this.discountTotal,
				grandTotal: this.totalPayable,
				promocodeId: this.promocodeId,
				selectedSlot: this.selected_slot,
				slotDay: this.slotDay,
				razorpay_payment_id: result.razorpay_payment_id,
				razorpay_order_id: result.razorpay_order_id,
				razorpay_signature: result.razorpay_signature,
				
			})
			.then(function(response){
				self.$store.dispatch('clearCart');
				self.$router.push({ name: 'Ordersummary' , params: {orderNumber: response.data.data.order_number}});
			})
		},
		confirmOrder(){
			var self = this;
			axios.post('/create-order',{
				addressId : this.chosenAddress.id,
				paymentType : 1,
				subTotal: this.total,
				taxRate: 0,
				taxTotal: this.taxTotal,
				discountRate: 0,
				discountTotal: this.discountTotal,
				grandTotal: this.totalPayable,
				promocodeId: this.promocodeId,
				selectedSlot: this.selected_slot,
				slotDay: this.slotDay,
				razorpay_payment_id: '',
				razorpay_order_id: '',
				razorpay_signature: '',
				
			})
			.then(function(response){
				self.$store.dispatch('clearCart');
				self.$router.push({ name: 'Ordersummary' , params: {orderNumber: response.data.data.order_number}});
			})
		}
	},
	filters: {
		round: function (value) {
			if(!value) {
				value = 0;
			}
			var decimals = 0;
			value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
			return value;
		}
	},
	created (){
		setInterval(this.getNow, 1000);
		if(this.address.length > 0)
			this.selectedAddress = this.address[0];
		bus.$on('updateOffer', (offerData) => {
			this.discountTotal 	= offerData.data.discountedAmount
			this.appliedPromo 	= offerData.data.code
			this.promocodeId 	= offerData.data.id
		})
		
		bus.$on('deliveryLocation', (addressData) => {
			this.selectedAddress 	= addressData
		})
	}
};
</script>
