<template>
  <div class="home top-spacing">
	<keep-alive>
    <Banner :banners="banners"/>
	</keep-alive>
    <section class="section-one pt-5 pb-5" v-if="specialProducts.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center heading-with-line">
              <span class="line-left"></span> Today's Specials
              <span class="line-right"></span>
            </h1>
            <p class="sub-text text-center pb-4">
              Fill your platter with delectable and full of flavour cuisines
            </p>
          </div>
          <div class="col-md-12">
            <Carousal :products="specialProducts"/>
          </div>
          <div class="col-md-12 text-center">
			      <router-link :to="{ name: 'ProductList', params: {slug: 'todays-specials', name: 'Todays Specials'}}" class="secondary-link">See all Todays Specials >></router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="section-two pb-5" v-if="speedDeals.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span> Speed Deals
              <span class="line-right"></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Make your everyday meal special 
            </p>
          </div>
          <div class="col-md-3" v-for="(product,index) in speedDeals" :key="index">
          <SingleCard :product="product" />
          </div>
          <div class="col-md-12 text-center">
			      <router-link :to="{ name: 'ProductList', params: {slug: 'speed-deals', name: 'Speed Deals'}}" class="secondary-link">See all Speed Deals >></router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="section-three pb-5" v-if="newProducts.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>New Arrivals<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Your favourite palatable are served fresh here
            </p>
          </div>
          <div class="col-md-12">
            <Carousal :products="newProducts"/>
          </div>
          <div class="col-md-12 text-center">
			      <router-link :to="{ name: 'ProductList', params: {slug: 'new-arrivals', name: 'New Arrivals'}}" class="secondary-link">See all New Arrivals >></router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="why-choose pb-5 pt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pb-4">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>Why choose freshoppe?<span
                class="line-right"
              ></span>
            </h2>
			<!-- <h2>As it is ‘Freshoppe’tion</h2>
			<p>You have many options to shop for your daily needs of poultry and fish but how many of them guarantee you fresh products? Freshoppe is the only option where you get the freshest products. Shop your juicy and quality meat or fish is only with Freshoppe.</p> -->
          </div>
		  <div class="col-md-4">
            <img src="@/assets/images/1.png" />
            <div class="h4">Ordered today? Get it today</div>
            <p>
              We are always hungry for customer satisfaction which is always tagged with what we promise. So at Freshoppe we make sure to keep all our promises. And one of those promises is to deliver your products on the same day as your order. We believe one day past means one day less fresh; which is not our type.
            </p>
          </div>						
		  <div class="col-md-4">
            <img src="@/assets/images/2.png" />
            <div class="h4">We say it, we mean it</div>
            <p>
              When we say NATURAL, we mean it. We deliver preservative-free products, with no added flavors or any harmful chemicals. For us, the customer comes first and so is their health. We always make sure to deliver natural, clean and hygienic products because it is a necessity to keep up with our promise of customer satisfaction and loyalty.
            </p>
          </div>
          <div class="col-md-4">
            <img src="@/assets/images/3.png" />
            <div class="h4">Hygienic & Special Package</div>
            <p>
              We are committed to delivering you the best; which also means delivering most hygienically. We have designed a special clean and hygienic package that will maintain the freshness of the products for a long time. We also take responsibility for your safety, and henceforth we make sure to have contactless delivery.
            </p>
          </div>					
        </div>
      </div>
    </section>
    <section class="section-four pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>Shop by Category<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              You wish it. We have it. 
            </p>
          </div>
          <div class="col-md-3" v-for="(category,index) in categories" :key="index" >
			<router-link :to="{ name: 'category.view', params: {slug: category.slug,name: category.name} }">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${imageURL+category.image})` }"
                ></div>
              </div>
              <div class="h4 text-center">{{category.name}}</div>
            </router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="section-five pb-5" v-if="blogs.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>New on the Blog<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Peep into the world of relishing food and flavours stories
            </p>
          </div>
          <div class="col-md-4" v-for="(blog,index) in blogs" :key="index">
            <div class="blog-card">
              <b-card>
				<img :src="imageURL+blog.image" alt="image" class="img-fluid full-width" />
                <div class="card-body-wrap">
                  <div class="card-title">
                    {{blog.title}}
                  </div>
                  <p :inner-html.prop="blog.content| truncate(150, '...')">
                  </p>
                </div>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from "@/components/Banner.vue";
import Carousal from "@/components/Carousal.vue";
import SingleCard from "@/components/SingleCard.vue";
import { imageURL } from '@/config';

export default {
	name: "Home",
	components: {
		Banner,
		Carousal,
		SingleCard,
	},
	data() {
		return {
			imageURL: imageURL,
			specialProducts:[],
			speedDeals:[],
			newProducts:[],
			categories:[],
			banners:[],
			blogs:[]
		};
	},
	methods:{
		getTodaysSpecials(){
			axios.get('/products/todays-specials')
			.then(response => {
				this.specialProducts = response.data.data.products;
			})
			.catch(function (error) {
				console.log(error);
			});
		
		},
		getSpeedDeals(){
			axios.get('/products/speed-deals')
			.then(response => {
				this.speedDeals = response.data.data.products;
			})
			.catch(function (error) {
				console.log(error);
			});
		
		},
		getNewProducts(){
			axios.get('/products/new-arrivals')
			.then(response => {
				this.newProducts = response.data.data.products;
			})
			.catch(function (error) {
				console.log(error);
			});
		
		},
		getCategories(){
			axios.get('/categories')
			.then(response => {
				this.categories = response.data.data
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		getBanners(){
			axios.get('/banners')
			.then(response => {
				this.banners = response.data.data
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		getBlogs(){
			axios.get('/blogs')
			.then(response => {
				this.blogs = response.data.data
			})
			.catch(function (error) {
				console.log(error);
			});
		}
	},
	mounted () {
		window.scrollTo(0, 0);
		this.$getLocation()
		  .then(coordinates => {
			console.log(coordinates);
			const latlng = {
				lat: parseFloat(coordinates.lat),
				lng: parseFloat(coordinates.lng),
			  };
			const geocoder = new google.maps.Geocoder();
			geocoder.geocode({ location: latlng }, (results, status) => {
			if (status === "OK") {
				if (results[0]) {
					console.log(results[0].formatted_address);
				} else {
					window.alert("No results found");
				}
			} else {
				  window.alert("Geocoder failed due to: " + status);
				}
			});
		});
		
		
		axios.all([
			this.getBanners(),
			this.getCategories(),
			this.getNewProducts(),
			this.getSpeedDeals(),
			this.getTodaysSpecials(), //or direct the axios request
			this.getBlogs(),
		])
	},
	created(){
		window.scrollTo(0, 0);
	},
	watch: {
		$route(to, from) {
			//window.location.reload()
			window.scrollTo(0, 0);
		}
	},
};
</script>
