<template>
  <section class="ordersummay top-spacing pt-5 pb-5" v-if="orderDetails">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="order-delivery" v-if="orderDetails.order_status<=4">
            <span class="mid-head">Order Delivery</span>
            <p class="pt-1" >
              <img src="@/assets/images/food-delivery.png" /> Your package will
              be delivered within 90 mins of ordering
            </p>
          </div>
          <div class="order-status-wrapper mt-4">
            <div class="header">
				<span v-bind:class="[orderDetails.order_status==7 ? 'cancelled' : 'placed']" >
					{{orderStatus[orderDetails.order_status]}}
				</span>
				<span class="order-placed">
					ORDER PLACED ON
					<span>{{ orderDetails.created_at | moment("D MMMM YYYY, h:mm A") }}</span>
				</span>
				<span class="order-id">
					ORDER ID
					<span>{{ orderDetails.order_number}}</span>
				</span>
				<span class="shippingadrs" v-if="orderDetails.ship_address">
					SHIPPING ADDRESS
					<span>{{orderDetails.ship_address.name}}</span>
				</span>
				<span class="items" v-if="orderDetails.items">
					ITEMS
					<span>{{orderDetails.items.length}}</span>
				</span>
            </div>
            <div class="order-area-wrap pb-2">
              <div class="row">
                <div class="col-md-7">
					<p v-if="orderDetails.order_status <5 ">Your order is successfully placed</p>
					<p v-else-if="orderDetails.order_status ==5 ">Your order is successfully delivered</p>
					<p v-else>Your order is successfully cancelled</p>
					<div class="order-status mt-4" v-if="orderDetails.order_status <=5 ">
						<div class="status">
							<span v-bind:class="{ active: (orderDetails.order_status>='1') }" ></span>
							Placed
						</div>
						<div class="status">
							<span v-bind:class="{ active: (orderDetails.order_status>='3') }" ></span>
							Packed
						</div>
						<div class="status">
							<span v-bind:class="{ active: (orderDetails.order_status>='4') }"></span>
							On the way
						</div>
						<div class="status">
							<span v-bind:class="{ active: (orderDetails.order_status>='5') }"></span>
							Delivered
						</div>
					</div>
				</div>
				<div>
					<div class="delivered mt-4" v-if="orderDetails.order_status<=4">
						<p>
							<img src="@/assets/images/food-delivery.png" /> Your package will be delivered by <b>{{ orderDetails.delivery_slot_date | moment("ddd, DD MMM YYYY") }}, between {{deliveryTimeSlots[orderDetails.delivery_slot_time]}}</b>
						</p>
					</div>
                </div>
				<div class="col-md-5">
					<b class="d-block text-right" v-if="orderDetails.payment">₹{{orderDetails.payment.grand_total}}</b>
				</div>
                <div class="col-md-12 mt-4">
					<div class="row">
						<div class="col-3 pr-0">
							<a class="btn btn-fourth" id="show-btn" v-on:click.prevent="showOrderItems(orderDetails)">
								<img src="@/assets/images/view.png" /> View Order
							</a>
						</div>
						<div class="col-3 pr-0">
							<a class="btn btn-fourth" v-on:click.prevent="reOrder(orderDetails.id)">
								<img src="@/assets/images/reload.png" /> Re-Order
							</a>
						</div>
						<div class="col-3 pr-0">
							<a class="btn btn-fourth" v-if="orderDetails.order_status <= 2" v-on:click.prevent="cancelOrder(orderDetails.id)">
								<img src="@/assets/images/error.png" /> Cancel Order
							</a>
						</div>
					</div>
				</div>
                <div class="col-md-12 mt-3">
					<p class="mb-0 bottomadrs-section">
						<b-button v-b-toggle.collapse-1 variant="primary">View address & billing details <img src="@/assets/images/downinner.png" /></b-button>
					</p>
					<b-collapse id="collapse-1" class="billing-adrs mt-3" v-if="orderDetails.ship_address">
						<div class="card-body">
							<div class="row mb-4">
								<div class="col-md-4">
									<p>Delivery Address:</p>
								</div>
								<div class="col-md-8">
									<p class="mb-0">
										{{orderDetails.ship_address.flat}}, {{orderDetails.ship_address.address}}, {{orderDetails.ship_address.area}}, {{orderDetails.ship_address.landmark}}
									</p>
								</div>
							</div>
							<hr />
							<div class="row mb-4" v-if="orderDetails.payment">
								<div class="col-md-4">
									<p>Payment:</p>
								</div>
								<div class="col-md-8">
									<div class="total-amount-wrapper p-0">
										<div class="row pb-1">
											<div class="col-6">
												Subtotal
											</div>
											<div class="col-6 text-right">
												{{orderDetails.payment.sub_total}}
											</div>
										</div>
										<div class="row pb-1">
											<div class="col-6">
												Delivery Charge
											</div>
											<div class="col-6 text-right green">
												Free
											</div>
										</div>
										<div class="row pb-1">
											<div class="col-6">
												SGST
											</div>
											<div class="col-6 text-right">
												{{orderDetails.payment.gst_total/2}}
											</div>
										</div>
										<div class="row pb-1">
											<div class="col-6">
												CGST
											</div>
											<div class="col-6 text-right">
												{{orderDetails.payment.gst_total/2}}
											</div>
										</div>
										<div class="row pb-1">
											<div class="col-6">
												Discount
											</div>
											<div class="col-6 text-right">
												{{orderDetails.payment.discount_total}}
											</div>
										</div>
										<hr />
										<div class="row total-amount">
											<div class="col-7">
												Total Payable Amount
												<span style="font-size:12px;font-weight:400;">(Incl. of all taxes)</span>
											</div>
											<div class="col-5 text-right">
												₹{{orderDetails.payment.grand_total}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="row" v-if="orderDetails.payment">
								<div class="col-md-4">
									<p class="mb-0">Payment Mode:</p>
								</div>
								<div class="col-md-8">
									<b style="color:#1b1464;">{{orderDetails.payment.payment_type.payment_type}}</b>
								</div>
							</div>
							<hr />
						</div>
					</b-collapse>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ads"></div>
        </div>
      </div>
	  <Vieworder :orderData="orderItems"/>
    </div>
  </section>
</template>
<script>
// @ is an alias to /src
import Vieworder from "@/components/Vieworder.vue";
import { orderStatus } from '@/config';
import { deliveryTimeSlots } from '@/config';
export default {
	components: {
		Vieworder,
	},
	data() {
		return {
			orderNumber:this.$route.params.orderNumber,
			orderItems:{},
			orderDetails:[],
			orderStatus: orderStatus,
			deliveryTimeSlots: deliveryTimeSlots,
		};
	},
	watch: {
		$route(to, from) {
			window.scrollTo(0, 0);
			this.orderNumber = this.$route.params.orderNumber
			this.getOrderDetails(this.$route.params.orderNumber);
		}
	},
	mounted(){
		window.scrollTo(0, 0);
		this.getOrderDetails(this.$route.params.orderNumber)
	},
	methods: {
		getOrderDetails(orderNumber){
			axios.get('/order/'+orderNumber)
			.then(response => {
				this.orderDetails = response.data.data
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		showOrderItems(orderData){
			this.orderItems = orderData;
			this.$bvModal.show('bv-modal-vieworder');
		},
		reOrder(orderId){
			axios.post('/reorder/'+orderId).then(response => {
				this.$bvModal.show('modal-cart');
				this.$store.dispatch('setCartItems', response.data.data.cart)
			}).catch(error => {
				if (error.response.status === 422) {
					this.errors = error.response.data.errors || {};
				}
			});
		},
		cancelOrder(orderId){
			this.$bvModal.msgBoxConfirm('Are you sure to cancel this order?', {
				okTitle: 'YES',
				cancelTitle: 'NO',
				centered: true
			})
			.then(value => {
				if(value){
					axios.post('/cancel-order/'+orderId).then(response => {
						this.getOrderDetails(this.$route.params.orderNumber);
					}).catch(error => {
						if (error.response.status === 422) {
							this.errors = error.response.data.errors || {};
						}
					});
				}
			})
			.catch(err => {
			// An error occurred
			})
			
		},
	}
};
</script>