<template>
  <section class="about product-detailview top-spacing pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-4">
          <b-breadcrumb :items="items"></b-breadcrumb>
        </div>
        <div class="col-md-5">
			<div class="product-photo-wrap" v-if="images && images.length > 0 " >
				<ProductImages
					:starting-image="1"
					:images="proImages"
				></ProductImages>
			</div>
        </div>
        <div class="col-md-7">
          <h2>{{product.ecom_name}}</h2>
          <p>Product No: {{product.number}}</p>
          <div class="tab-wrapper">
            <b-card no-body style="margin-bottom:0px!important;">
              <b-tabs>
                <b-tab title="About Product">
                  <b-card-text v-html="product.description">
                  </b-card-text>
                  <hr />
                  <div class="row">
                    <div class="col-md-4" v-if="product.pieces">
                      <p>
                        <img src="@/assets/images/chopping.png" class="mr-2" />
                        No of Pieces: {{product.pieces}}
                      </p>
                    </div>
                    <div class="col-md-4" v-if="product.serves">
                      <p>
                        <img src="@/assets/images/serves.png" class="mr-2" />
                        Serves: {{product.serves}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4" v-if="product.net_weight">
                      <p>
                        <img src="@/assets/images/weig.png" class="mr-2" /> Net
                        wt: {{product.net_weight | round}}gms
                      </p>
                    </div>
                    <div class="col-md-4" v-if="product.gross_weight">
                      <p>
                        <img src="@/assets/images/chicken.png" class="mr-2" />
                        Gross wt: {{product.gross_weight | round}}gms
                      </p>
                    </div>
                    <div class="col-md-4" v-if="product.size_min">
                      <p>
                        <img src="@/assets/images/chi.png" class="mr-2" /> Whole
                        wt: {{product.size_min}} - {{product.size_max}}kg
                      </p>
                    </div>
                  </div>
                  <hr />
                </b-tab>
                <b-tab title="What is in the box">
                  <b-card-text v-html="product.whats_in_box">
                    
                  </b-card-text>
                </b-tab>
              </b-tabs>
            </b-card>
            <div class="row price-detail-page">
              <hr />
              <div class="col-md-12">
                <div class="price" v-if="product.sale_price > 0">
                  ₹{{product.sale_price | round}}
                </div>
				<div class="price" v-else>
                  ₹{{product.price | round}}
                </div>
                <div class="mrp" v-if="product.sale_price > 0">MRP: <span>₹{{product.price | round}}/-</span></div>
                <div class="off" v-if="product.sale_price > 0">
                  {{offerPercentage(product.price,product.sale_price)}}% OFF
                </div>
				<div v-if="checkInCart(product)" class="input-counter">
					<div role="group" class="input-group">
						<!---->
						<div class="input-group-prepend">
						  <button type="button" class="btn btn-outline-info" v-on:click.prevent="decrementQuantity(product.id)">-</button>
						</div>
						<span class="cart-quantity">{{product.quantity}}</span>
						<div class="input-group-append">
						  <button type="button" class="btn btn-outline-secondary" v-on:click.prevent="incrementQuantity(product.id)">+</button>
						</div>
						<!---->
					</div>
				</div>
                <a v-if="!checkInCart(product)" @click="addProductToCart(product)" class="btn btn-primary ml-auto">ADD TO CART</a>
              </div>
            </div>
            <hr />
            <div class="row share-wrapper">
              <div class="col-md-12">
                <a @click="addFavourite(product.id)" v-if="favourited==0" class="btn btn-secondary mr-4">
					<img src="@/assets/images/heart.png" /> Add to Favourite
				</a>
				<a @click="removeFavourite(product.id)" v-if="favourited==1" class="btn btn-secondary mr-4">
					<img src="@/assets/images/heart.png" />Favourited
				</a>
				<b-dropdown id="dropdown-dropright" dropright variant="secondary" class="share-icons">
					<template #button-content>
					  <img src="@/assets/images/share.png" /> Share
					</template>
					 <b-dropdown-group>
						<b-link href="#">
							<ShareNetwork
								network="facebook"
								:url="productPath"
								:title="productShortDescription"
								description=""
								hashtags="freshoppe"
							  ><i class="fa fa-facebook" aria-hidden="true"></i>
							</ShareNetwork>
						</b-link>
						<b-link href="#">
							<ShareNetwork
								network="whatsapp"
								:url="productPath"
								:title="productShortDescription"
								description=""
								hashtags="freshoppe"
							  ><i class="fa fa-whatsapp" aria-hidden="true"></i>
							</ShareNetwork>
						</b-link>
						<b-link href="#">
							<!-- <ShareNetwork
								network="instagram"
								:url="productPath"
								:title="productShortDescription"
								:description="productDescription"
								hashtags="freshoppe"
							  ><i class="fa fa-instagram" aria-hidden="true"></i>
							</ShareNetwork> -->
						</b-link>
					</b-dropdown-group>
				</b-dropdown>
                <span class="delivery ml-auto">
                  <p>
                    <img src="@/assets/images/scooter.png" /> Delivery in
                    <b>90 min</b>
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="other-varients mt-3"  v-if="related.length>0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h3">Other variants related to this item</div>
					<router-link v-for="(product,index) in related" :key="index" :to="{ name: 'product.view', params: {slug: product.slug,name: product.ecom_name,productId: product.id} }">
						{{product.ecom_name}}
					</router-link>
				</div>
			</div>
		</div>
    </div>
    <div class="recommended pt-3 pb-3 mt-5"  v-if="recipes.length > 0  || product.source != null" >
      <div class="container">
        <div class="tab-wrapper">
          <b-card no-body>
            <b-tabs>
              <b-tab title="Recommended Cooking Method" v-if="recipes && recipes.length > 0 " >
                <div class="row">
                  <div class="col-md-7">
                    <b-card-title>{{recipes[0].name}}</b-card-title>
                    <b-card-text>
                      <div class="row">
                        <div class="col-md-6">
                          <h4>Method</h4>
						  <p v-html="recipes[0].method"></p>
                        </div>
                        <div class="col-md-6">
                          <h4>Ingredients</h4>
						  <p v-html="recipes[0].ingredients"></p>
                        </div>
                      </div>
                    </b-card-text>
                  </div>
                  <div class="col-md-5 right-image">
					<img v-if="recipes[0].image" :src="imageURL+recipes[0].image" alt="image" class="img-fluid mb-3 border-curved">
                    
                    <p class=" mb-0">
                      <img src="@/assets/images/clock.png" /> Cooking time: {{recipes[0].time}}
                    </p>
                    <p class="float-right mb-0">
                      <a href="#" class="primary-link"
                        >View more recipees <img src="@/assets/images/right.png"
                      /></a>
                    </p>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Sourcing" v-if="product.source">
                <b-card-text>
                  <div class="row">
                    <div class="col-md-7" v-html="product.source">
                      
                    </div>
                    <div class="col-md-5">
                      <img v-if="product.source_image" :src="imageURL+product.source_image" alt="image" class="img-fluid mb-3 border-curved">
                    </div>
                  </div>
                </b-card-text>
              </b-tab>
            </b-tabs>
          </b-card>
        </div>
      </div>
    </div>
    <div class="related-products" v-if="related.length > 0">
      <div class="container" v-if="related.length>0">
        <div class="row">
          <div class="col-md-12 pb-3">
            <h2>Related Products</h2>
          </div>
		  <div class="col-md-3" v-for="(product,index) in related" :key="index">
			<SingleCard :product="product" />
		  </div>
        </div>
      </div>
    </div>
    <div class="our-packing">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/no.png" />
              <h4>ANTIBIOTICS</h4>
              <p>
                All our meat is certified free from Antibiotics, Formalin and
                Preservatives.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/hormones.png" />
              <h4>HORMONES</h4>
              <p>
                Enjoy delicious food raised under the highest standards using no
                unnecessary Hormones.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/fresh.png" />
              <h4>Freshly Cut & Packed</h4>
              <p>
                All our meat is cut after you order to ensure maximum freshness.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/fresh.png" />
              <h4>KNOWN & TASTE TESTED</h4>
              <p>
                We personally know each producer we work with and ensure you get
                meals full of mouth-watering flavor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-section pt-5 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center heading-with-line">
              <span class="line-left"></span> You might also enjoy
              <span class="line-right"></span>
            </h1>
            <p class="sub-text text-center pb-4">
              Quality Fresh Meat And Poultry Direct To Your Home
            </p>
          </div>
          <div class="col-md-12">
            <Carousal :products="catRelated"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue";
import Carousal from "@/components/Carousal.vue";
import { imageURL } from '@/config';
import { mapGetters, mapState, mapActions } from 'vuex'
import ProductImages from "@/components/ProductImages.vue";

export default {
	name: "ProductView",
	metaInfo() {
        return { 
            title: this.product.ecom_name,
            meta: [
                { name: 'title', content:  this.product.ecom_name},
                { name: 'keywords', content:  this.product.ecom_name},
				{ name: 'description', content:  this.product.ecom_name},
            ]
        }
    },
	components: {
		SingleCard,
		Carousal,
		ProductImages
	},
	data() {
		return {
			imageURL: imageURL,
			catRelated:[],
			related:[],
			recipes:[],
			product:[],
			images:[],
			proImages:[],
			favourited:0,
			productPath:'',
			productDescription:'',
			productShortDescription:'',
			items: [
				{
				  text: "Home",
				  to: "/",
				},
				{
				  text: "Today's Deals",
				  to: "/Todaydeals",
				},
				{
				  text: (this.$route.params.name),
				  active: true,
				},
			]
		};
	},
	watch: {
		$route(to, from) {
			//window.location.reload()
			window.scrollTo(0, 0);
			// react to route changes...
			this.items[2].text = this.$route.params.name
			this.getProductDetails(this.$route.params.slug);
			
		}
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  cartProducts: 'cartProducts',
		  favourites:'getFavourites'
		})
	},
	mounted(){
		window.scrollTo(0, 0);
		this.getProductDetails(this.$route.params.slug)
		this.productPath = "https://freshoppe.com"+window.location.pathname;
	},
	methods: {
        getProductDetails(slug) {
			axios.get('/product/'+slug)
			.then(response => {
				this.product 	= response.data.data.product;
				this.related 	= response.data.data.related;
				this.catRelated	= response.data.data.catRelated;
				this.recipes 	= response.data.data.product.recipes;
				this.images 	= response.data.data.product.images;
				let prodimages= [];
				let i=0;
				$.each(response.data.data.product.images, function(key, value) {
					i++;
					prodimages.push({'id':i,'big':imageURL+value.full,'thumb':imageURL+value.full});
			    });
				this.proImages = prodimages;
				this.items[1].text = this.product.category_name;
				this.items[1].to = '/category/'+this.product.category_slug;
				this.items[2].text = this.product.ecom_name;
				this.productPath = "https://freshoppe.com"+window.location.pathname;
				this.productDescription = response.data.data.product.description;
				this.productShortDescription = response.data.data.product.short_description;
				const favouriteItem = this.favourites.find(item => item == response.data.data.product.id)
				if(favouriteItem){
					this.favourited = 1;
				}else{
					this.favourited = 0;
				}
			})
			.catch(function (error) {
				console.log(error);
			});
        },
		offerPercentage(price,salePrice) {
			var decreaseValue = price - salePrice;
			return ((decreaseValue / price) * 100).toFixed(0);
		},
		checkInCart(product){
			const cartItem = this.cartProducts.find(cart => cart.id == product.id)
			if(cartItem){
				product.quantity = cartItem.quantity;
				return true;
			}else{
				return false;
			}
		},
		addFavourite(productId){
			if (!this.$store.getters.getLoggedUser) {
				sessionStorage.setItem('redirectPath', this.$route.path);
				this.$store.dispatch('openLogInDialog',true)
			}else{
				axios.post('/product/favourite', {productId : productId}).then(response => {
					this.$store.dispatch('setFavourite', response.data.data.favourites)
					this.favourited = 1;
				}).catch(error => {
					
				});
			}
		},
		removeFavourite(productId){
			if (!this.$store.getters.getLoggedUser) {
				sessionStorage.setItem('redirectPath', this.$route.path);
				this.$store.dispatch('openLogInDialog',true)
			}
			this.$store.dispatch('removeFavourite', productId)
			this.favourited = 0;
			
		},
		...mapActions(['addProductToCart','decrementQuantity','incrementQuantity'])
    },
	filters: {
	  round: function (value) {
		if(!value) {
			value = 0;
		}
		var decimals = 0;
		value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
		return value;
	  }
	},
	
	
};
</script>
