<template>
  <section class="about top-spacing pt-4 pb-5">
    <div class="container">
      <div class="row" v-if="prodList.length > 0">
        <div class="col-md-12 pb-4">
          <b-breadcrumb :items="items"></b-breadcrumb>
        </div>
        <div class="col-md-12 pb-4">
          <h1>{{pageName}}</h1>
        </div>
		<div  class="col-md-3" v-for="(product,index) in prodList" :key="index">
			<SingleCard :product="product" />
		</div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import SingleCard from "@/components/SingleCard.vue";

export default {
	name: "Home",
	components: {
		SingleCard,
	},
	data() {
		return {
			items: [
				{
					text: "Home",
					to: "/",
				},
				{
					text: (this.$route.params.name),
					active: true,
				},
			],
			prodList:[],
			pageName:this.$route.params.name
		};
	},
	methods:{
		getPageData(slug){
			axios.get('/products/'+slug+'/full')
			.then(response => {
				this.prodList = response.data.data.products;
				this.pageName = response.data.data.name;
				this.items[1].text = response.data.data.name;
			})
			.catch(function (error) {
				console.log(error);
			});
		
		}
	},
	watch: {
		$route(to, from) {
			// react to route changes...
			this.items[1].text = this.$route.params.name
			this.getPageData(this.$route.params.slug);
		}
	},
	mounted () {
		window.scrollTo(0, 0);
		axios.all([
			this.getPageData(this.$route.params.slug), //or direct the axios request
		])
	}
};
</script>
