<template>
  <section class="userprofile top-spacing pt-5 pb-5">
    <div class="container">
      <div class="row pb-2">
        <div class="col-md-12 newuser">
          <div class="avatar"></div>
          <div class="name-adrs">
            <h1>{{$store.getters.getLoggedUser.name}}</h1>
            <p class="mb-0">{{$store.getters.getLoggedUser.mobile}}</p>
            <p class="mb-0">{{$store.getters.getLoggedUser.email}}</p>
          </div>
          <a class="btn btn-secondary" id="show-btn" @click="$bvModal.show('bv-modal-editprofile')">
			<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile
		  </a>
        </div>
        <Editprofile />
      </div>
      <hr />
      <div class="row">
		<div class="col-md-4">
			<b-tabs pills vertical nav-wrapper-class="col-12">
				<div>
					<b-tab active @click="tabIndex = 0">
						<template #title>
							<img src="@/assets/images/order.png" /> Order History
						</template>
						
					</b-tab>
					<b-tab @click="tabIndex = 1">
						<template #title>
							<img src="@/assets/images/adrs.png" /> My Addresses
						</template>
					</b-tab>
					<b-tab @click="tabIndex = 2">
						<template #title>
							<img src="@/assets/images/saved.png" /> Saved Items
						</template>
					</b-tab>
					<b-tab @click="tabIndex = 3">
						<template #title>
							<img src="@/assets/images/fav.png" /> Favourites
						</template>
					</b-tab>
					<b-tab @click="tabIndex = 4">
						<template #title>
							<img src="@/assets/images/wallet.png" /> Wallet
						</template>
					</b-tab>
					<b-tab @click="tabIndex = 5">
						<template #title>
							<img src="@/assets/images/shr.png" /> Invite Friends
						</template>
					</b-tab>
					<b-tab @click="tabIndex = 6">
						<template #title>
							<img src="@/assets/images/fav.png" /> Reviews
						</template>
					</b-tab>
					
				</div>
			</b-tabs>
		</div>
		<div class="col-md-8">
			<div class="tab-content">
				<div :class="['tab-pane', { 'active': tabIndex == 0 }]" >
					<h2>Past Orders</h2>
					<div  v-if="pastOrders && pastOrders.length > 0">
						<div class="order-status-wrapper mt-4" v-for="(order,index) in pastOrders" :key="index">
							<div class="header">
								<span v-bind:class="[order.order_status==7 ? 'cancelled' : 'placed']" >
									{{orderStatus[order.order_status]}}
								</span>
								<span class="order-placed">
									ORDER PLACED ON
									<span>{{ order.created_at | moment("D MMMM YYYY, h:mm A") }}</span>
								</span>
								<span class="order-id">
									ORDER ID
									<span>{{order.order_number}}</span>
								</span>
									<span class="shippingadrs">
									SHIPPING ADDRESS
									<span v-if="order.ship_address">{{order.ship_address.name}}</span>
								</span>
								<span class="items">
									ITEMS
									<span>{{order.items.length}}</span>
								</span>
							</div>
							<div class="order-area-wrap pb-2">
								<div class="row">
									<div class="col-md-7">
										<p v-if="order.order_status <5 ">Your order is successfully placed</p>
										<p v-else-if="order.order_status ==5 ">Your order is successfully delivered</p>
										<p v-else>Your order is successfully cancelled</p>
										<div class="order-status mt-4" v-if="order.order_status <=5 ">
											<div class="status">
												<span v-bind:class="{ active: (order.order_status>='1') }" ></span>
												Placed
											</div>
											<div class="status">
												<span v-bind:class="{ active: (order.order_status>='3') }" ></span>
												Packed
											</div>
											<div class="status">
												<span v-bind:class="{ active: (order.order_status>='4') }"></span>
												On the way
											</div>
											<div class="status">
												<span v-bind:class="{ active: (order.order_status>='5') }"></span>
												Delivered
											</div>
										</div>
									</div>
									<div>
										<div class="delivered mt-4" v-if="order.order_status<=4">
											<p style="font-size:12px;">
											<img src="@/assets/images/food-delivery.png" /> Your
											package will be delivered by {{ order.delivery_slot_date | moment("ddd, DD MMM YYYY") }}, between {{deliveryTimeSlots[order.delivery_slot_time]}}
											</p>
										</div>
									</div>
									<div class="col-md-5">
										<b class="d-block text-right" v-if="order.payment">₹{{order.payment.grand_total}}</b>
									</div>
									<div class="col-md-12 mt-4">
										<div class="row">
											<div class="col-3 pr-0">
												<a class="btn btn-fourth" id="show-btn" v-on:click.prevent="showOrderItems(order)">
													<img src="@/assets/images/view.png" /> View Order
												</a>
											</div>
											<div class="col-3 pr-0">
												<a class="btn btn-fourth" v-on:click.prevent="reOrder(order.id)"><img src="@/assets/images/reload.png" /> Re-Order</a>
											</div>
											<div class="col-3 pr-0" v-if="order.order_status <= 2">
												<a v-on:click.prevent="cancelOrder(order.id)" class="btn btn-fourth"><img src="@/assets/images/error.png" /> Cancel Order</a>
											</div>
											<div class="col-3 pr-0" v-if="order.order_status == 5">
											<a href="javascript:void(0)" class="btn btn-fourth" id="show-btn" v-on:click.prevent="showFeedback(order.id)"><img src="@/assets/images/star.png" /> Add Feedback</a>
											
											</div>
										</div>
									</div>
									<div class="col-md-12 mt-3">
										<p class="mb-0 bottomadrs-section">
											<b-button v-b-toggle="index+'collapse'" variant="primary">View address & billing details <img src="@/assets/images/downinner.png" /></b-button>
										</p>
										<b-collapse :id="index+'collapse'" class="billing-adrs mt-3">
											<div class="card-body">
												<div class="row mb-4">
													<div class="col-md-4">
														<p>Delivery Address:</p>
													</div>
													<div class="col-md-8" v-if="order.ship_address">
														<p class="mb-0">
															{{order.ship_address.flat}}, {{order.ship_address.address}}, {{order.ship_address.area}}, {{order.ship_address.landmark}}
														</p>
													</div>
												</div>
												<hr />
												<div class="row mb-4">
													<div class="col-md-4">
														<p>Payment:</p>
													</div>
													<div class="col-md-8">
														<div class="total-amount-wrapper p-0">
															<div class="row pb-1">
																<div class="col-6">
																	Subtotal
																</div>
																<div class="col-6 text-right" v-if="order.payment">
																	{{order.payment.sub_total}}
																</div>
															</div>
															<div class="row pb-1">
																<div class="col-6">
																	Delivery Charge
																</div>
																<div class="col-6 text-right green">
																	Free
																</div>
															</div>
															<div class="row pb-1">
																<div class="col-6">
																	SGST
																</div>
																<div class="col-6 text-right">
																	{{order.payment.gst_total/2}}
																</div>
															</div>
															<div class="row pb-1">
																<div class="col-6">
																	CGST
																</div>
																<div class="col-6 text-right">
																	{{order.payment.gst_total/2}}
																</div>
															</div>
															<div class="row pb-1">
																<div class="col-6">
																	Discount
																</div>
																<div class="col-6 text-right" v-if="order.payment">
																	{{order.payment.discount_total}}
																</div>
															</div>
															<hr />
															<div class="row total-amount">
																<div class="col-7">
																	Total Payable Amount
																	<span style="font-size:12px;font-weight:400;">(Incl. of all taxes)</span>
																</div>
																<div class="col-5 text-right" v-if="order.payment">
																	₹{{order.payment.grand_total}}
																</div>
															</div>
														</div>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-4">
														<p class="mb-0">Payment Mode:</p>
													</div>
													<div class="col-md-8" v-if="order.payment">
														<b style="color:#1b1464;">{{order.payment.payment_type.payment_type}}</b>
													</div>
												</div>
												<hr />
											</div>
										</b-collapse>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-else>
						<h2 class="mb-3">No orders found</h2>
					</div>
					<div v-if="pastOrders && pastOrders.length > 0">
					<Vieworder :orderData="orderItems"/>
					<Addfeedback :orderId="selectedId" />
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 1 }]" >
					<div class="profile-adrs">
						<div class="row">
							<div class="col-md-12 mb-3">
								<a @click="$bvModal.show('bv-modal-address')" class="btn btn-secondary">
								<i aria-hidden="true" class="fa fa-plus"></i> Add Address</a>
							</div>
							<div class="col-md-12 mb-3" v-for="(address) in addresses" :key="address.id">
								<div class="address-single selected">
									<h6 v-if="address.address_type == 1">
										Home:
										<a href="javascript:void(0)" @click="deleteAddress(address)" class="primary-link edit">Delete</a>
										<a href="javascript:void(0)" @click="editAddress(address)" class="primary-link edit mr-3">Edit</a>
									</h6>
									<h6 v-if="address.address_type == 2">
										Office:
										<a href="javascript:void(0)" @click="deleteAddress(address)" class="primary-link edit">Delete</a>
										<a href="javascript:void(0)" @click="editAddress(address)" class="primary-link edit mr-3">Edit</a>
									</h6>
									<h6 v-if="address.address_type == 3">
										Other:
										<a href="javascript:void(0)" @click="deleteAddress(address)" class="primary-link edit">Delete</a>
										<a href="javascript:void(0)" @click="editAddress(address)" class="primary-link edit mr-3">Edit</a>
									</h6>
									<p class="mb-0">
										{{address.flat}}, {{address.address}}, {{address.area}}<br />{{address.landmark}}
									</p>
								</div>
							</div>
						</div>
						<b-modal id="bv-modal-user-address" hide-footer @hide="resetAddressModal">
							<template #modal-title> Edit address </template>
								<div class="d-block">
								<form @submit.prevent="submit">
								  <div class="form-row">
									<div class="form-group col-md-6">
									  <input
										type="text"
										class="form-control"
										id="inputAddress"
										v-model="forms.address"
										placeholder="Enter your delivery area"
									  />
									  <span class="message-error-input" v-if="errors.address">{{errors.address}}*</span>
									</div>
									<div class="form-group col-md-6">
									  <a href="javascript:void(0)" @click="detectLocation()">
										<span class="detect-location">
										  <img src="@/assets/images/gps.png" /> Detect current location
										</span>
									  </a>
									</div>
								  </div>
								  <div class="form-row">
									<div class="col-md-12 mb-3">
									  <h5>
										<i class="fa fa-home" aria-hidden="true"></i> Delivery Address
									  </h5>
									</div>
									<div class="form-group col-md-6">
									  <input
										type="text"
										class="form-control"
										id="inputName"
										placeholder="Name"
										v-model="forms.name"
									  />
									  <span class="message-error-input" v-if="errors.name">{{errors.name}}*</span>
									</div>
									<div class="form-group col-md-6">
									  <input
										type="text"
										class="form-control"
										id="inputMobile"
										placeholder="Phone Number"
										v-model="forms.mobile"
										maxlength="10"
									  />
									  <span class="message-error-input" v-if="errors.mobile">{{errors.mobile}}*</span>
									</div>
								  </div>
								  <div class="form-group">
									<input
									  type="text"
									  class="form-control"
									  id="inputFlat"
									  placeholder="House/Flat no"
									  v-model="forms.flat"
									/>
									<span class="message-error-input" v-if="errors.flat">{{errors.flat}}*</span>
								  </div>
								  <div class="form-group">
									<input
									  type="text"
									  class="form-control"
									  id="inputArea"
									  placeholder="Area"
									  v-model="forms.area"
									/>
									<span class="message-error-input" v-if="errors.area">{{errors.area}}*</span>
								  </div>
								  <div class="form-group">
									<input
									  type="text"
									  class="form-control"
									  id="inputLandmark"
									  placeholder="Landmark"
									  v-model="forms.landmark"
									/>
									<span class="message-error-input" v-if="errors.landmark">{{errors.landmark}}*</span>
								  </div>
								  <div
									class="btn-group btn-group-toggle home-ofc-oth"
									data-toggle="buttons"
								  >
									<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '1') }">
									  <input
										type="radio"
										id="option1"
										value="1"
										v-model="forms.address_type"
									  />
									  <i class="fa fa-home" aria-hidden="true"></i> Home
									</label>
									<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '2') }">
									  <input
										type="radio"
										id="option2"
										value="2"
										v-model="forms.address_type"
									  />
									  <i class="fa fa-briefcase" aria-hidden="true"></i> Office
									</label>
									<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '3') }">
									  <input
										type="radio"
										id="option3"
										value="3"
										v-model="forms.address_type"
									  />
									  <i class="fa fa-map-marker" aria-hidden="true"></i> Other
									</label>
								  </div>

								  <b-button
									class="mt-5 btn-primary"
									block
									type="submit"
									>Save & Continue</b-button
								  >
								</form>
							  </div>
							</b-modal>
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 2 }]" >
					<h2 class="mb-3" v-if="savedItems && savedItems.length > 0">Saved Items ({{savedItems.length}})</h2>
					<div class="saved-items">
						<div class="row"  v-if="savedItems && savedItems.length > 0">
							<div class="col-md-6" v-for="(product,index) in savedItems" :key="index">
								<SingleCard :product="product" v-bind:types="1" />
							</div>
						</div>
						<div v-else>
							<h2 class="mb-3">No saved items</h2>
						</div>
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 3 }]" >
					<h2 class="mb-3" v-if="favouriteItems && favouriteItems.length > 0">Favourites ({{favouriteItems.length}})</h2>
					<div class="saved-items">
						<div class="row"  v-if="favouriteItems && favouriteItems.length > 0">
							<div class="col-md-6" v-for="(product,index) in favouriteItems" :key="index">
								<SingleCard :product="product" v-bind:types="2" />
							</div>
						</div>
						<div v-else>
							<h2 class="mb-3">No favourites added</h2>
						</div>
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 4 }]" >
					<h2 class="mb-3">Wallet</h2>
					<div class="saved-items p-4">
						<div class="row">
							<div class="col-lg-6 m-auto">
								<div class="wallet-balance">
								  <h3>Your wallet balance</h3>
								  <div class="wallet-value">₹0</div>
								</div>
							</div>
							<div class="col-lg-12 mt-5">
								<h4>Transaction History</h4>
							</div>
							<div class="col-lg-12 mt-2">
								<div class="no-transaction">
									<img src="@/assets/images/walletno.png" class="mb-2" />
									<p>No transactions found</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 5 }]" >
					<div class="saved-items p-5">
						<h2 class="mb-3">Invite Friends</h2>
						<div class="row">
							<div class="col-lg-12 m-auto">
								<h3 class="mb-3">
									Invite friends & earn ₹ 50 freshoppe points for each successful referral.
								</h3>
							</div>
							<div class="col-md-9 m-auto">
								<div class="reffereal-code">
									<span>Referral Code:</span>
									<span class="bold">GARXFINIP</span>
									<span class="d-flex">
										<a href="#" style="margin-right:15px"><img src="@/assets/images/shr.png"/></a>
										<a href="#"><img src="@/assets/images/cpy.png"/></a>
									</span>
								</div>
							</div>
							<div class="col-lg-12 mt-2">
								<div class="no-transaction">
									<img src="@/assets/images/invite.png" class="d-block m-auto"/>
									<p class="mt-4">
										Invite your friend to try freshoppe and the two of you get a special bonus.
									</p>
									<p>
										<b>INR 200 gets credited to your freshoppe wallet</b> on
										the usage of your referral code.
										<b>Your friend gets a 10%* discount</b> on their first
										Health check. Go ahead, share the love.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div :class="['tab-pane', { 'active': tabIndex == 6 }]" >
				  <p class="col-md-8">Reviews</p>
				</div>
			</div>
		</div>
		</div>
	</div>
  </section>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue";
import Editprofile from "@/components/Editprofile.vue";
import Vieworder from "@/components/Vieworder.vue";
import Addfeedback from "@/components/Addfeedback.vue";
import { mapGetters, mapState, mapActions } from 'vuex'
import { bus } from '../main'
import { orderStatus } from '@/config';
import { deliveryTimeSlots } from '@/config';
export default {
	name: "Home",
	components: {
		SingleCard,
		Editprofile,
		Vieworder,
		Addfeedback
	},
	data() {
		return {
			tabIndex: 0,
			favouriteItems:[],
			savedItems:[],
			pastOrders:[],
			orderItems:{},
			orderStatus: orderStatus,
			deliveryTimeSlots: deliveryTimeSlots,
			selectedId:0,
			forms: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1,
			},
			errors: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			},
		};
	},
	mounted () {
		
		axios.all([
			this.getFavourites(),
			this.getSavedItems(),
			this.getOrders(),
			this.getProfile(),
		])
		
	},
	computed: {
		...mapGetters({
		  addresses:'customerAddresses',
		})
	},
	methods: {
		
		editAddress(item) {
			this.forms.address			= item.address
			this.forms.flat				= item.flat
			this.forms.area				= item.area
			this.forms.name				= item.name
			this.forms.mobile			= item.mobile
			this.forms.landmark			= item.landmark
			this.forms.address_type		= item.address_type
			this.forms.id				= item.id
			this.$bvModal.show('bv-modal-user-address')
		},
		detectLocation(){
			this.$getLocation()
			  .then(coordinates => {
				console.log(coordinates);
				const latlng = {
					lat: parseFloat(coordinates.lat),
					lng: parseFloat(coordinates.lng),
				  };
				const geocoder = new google.maps.Geocoder();
				geocoder.geocode({ location: latlng }, (results, status) => {
				if (status === "OK") {
					if (results[0]) {
						console.log(results[0].formatted_address);
						this.forms.address = results[0].formatted_address;
					} else {
						window.alert("No results found");
					}
				} else {
					  window.alert("Geocoder failed due to: " + status);
					}
				});
			});
		},
		submit() {
			this.errors = {};
			this.valid = true;
			if (!this.forms.mobile) {
				this.errors.mobile = 'Mobile number is required.';
				this.valid = false;
			} else if (!this.validMobile(this.forms.mobile)) {
				this.errors.mobile = 'Mobile number must be 10 digits.';
				this.valid = false;
			}
			
			if (!this.forms.name) {
				this.errors.name = 'Name is required.';
				this.valid = false;
			}
			
			if (!this.forms.address) {
				this.errors.address = 'Address is required.';
				this.valid = false;
			}
			
			if (!this.forms.flat) {
				this.errors.flat = 'House/Flat is required.';
				this.valid = false;
			}
			
			if (!this.forms.area) {
				this.errors.area = 'Area is required.';
				this.valid = false;
			}
			
			if (!this.forms.landmark) {
				this.errors.landmark = 'Landmark is required.';
				this.valid = false;
			}
			
			if(this.valid){
				axios.post('/address/edit/'+this.forms.id, this.forms).then(response => {
					this.$bvModal.hide('bv-modal-user-address')
					this.$store.dispatch('updateAddress', response.data)
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			}
		},
		validMobile: function (mobile) {
		  var re = /^\d{10}$/;
		  return re.test(mobile);
		},
		resetAddressModal() {
			this.errors = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			};
			this.forms = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1
			};
			this.valid = false;
		},
		getOrders(){
			axios.get('/users/orders')
			.then(response => {
				this.pastOrders = response.data.data.orders
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		getFavourites(){
			axios.get('/users/favourites')
			.then(response => {
				this.favouriteItems = response.data.data.favourites
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		getSavedItems(){
			axios.get('/users/saved-items')
			.then(response => {
				this.savedItems = response.data.data.savedItems
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		getProfile(){
			axios.get('/users/profile')
			.then(response => {
				this.$store.dispatch('setAddress', response.data.data.address)
			})
		},
		deleteAddress(address){
			axios.post('/address/delete/'+address.id).then(response => {
				this.$store.dispatch('setAddress', response.data)
			}).catch(error => {
				if (error.response.status === 422) {
					this.errors = error.response.data.errors || {};
				}
			});
		},
		showOrderItems(orderData){
			this.orderItems = orderData;
			this.$bvModal.show('bv-modal-vieworder');
		},
		showFeedback(orderId){
			this.selectedId = orderId;
			this.$bvModal.show('bv-modal-addfeedback');
		},
		reOrder(orderId){
			axios.post('/reorder/'+orderId).then(response => {
				this.$bvModal.show('modal-cart');
				this.$store.dispatch('setCartItems', response.data.data.cart)
			}).catch(error => {
				if (error.response.status === 422) {
					this.errors = error.response.data.errors || {};
				}
			});
		},
		cancelOrder(orderId){
			this.$bvModal.msgBoxConfirm('Are you sure to cancel this order?', {
				okTitle: 'YES',
				cancelTitle: 'NO',
				centered: true
			})
			.then(value => {
				if(value){
					axios.post('/cancel-order/'+orderId).then(response => {
						this.getOrders();
					}).catch(error => {
						if (error.response.status === 422) {
							this.errors = error.response.data.errors || {};
						}
					});
				}
			})
			.catch(err => {
			// An error occurred
			})
			
		},
		
	},
	created (){
		window.scrollTo(0, 0);
		bus.$on('updateSaveLater', (productId) => {
		  const saveItem = this.savedItems.map(item => item.id).indexOf(productId);
		  if(saveItem >=0 ){
			this.savedItems.splice(saveItem, 1);
		  }
		});
		bus.$on('updateFavourite', (productId) => {
		  const favItem = this.favouriteItems.map(item => item.id).indexOf(productId);
		  if(favItem >=0 ){
			this.favouriteItems.splice(favItem, 1);
		  }
		})
		
		
	}
};
</script>
