<template>
	<div class="add-address">
		<b-modal id="bv-modal-aboutus" ref="aboutus-modal" hide-footer>
			<template #modal-title><h2> About Us </h2></template>
			<p class="pb-3" style="text-indent:50px">
				Fresh! Natural! Raw! There are many synonyms for the single word FRESHNESS, but for us, there is only one synonym to the word -	FRESHOPPE. 
				In today’s life, everything is either packaged or frozen; nothing is served fresh and natural anymore! At Freshoppe, we are determined to break this chain. We are an endeavor that will only focus on serving fresh, quality, and natural products.
				A division of Fresh Catch Pvt. Ltd. Freshoppe is the online marketplace where we cater to your daily requirement of fresh catch from sea and poultry and deliver at your doorstep. Our foremost intention is to serve you the freshest and finest product to your table preserving its goodness and freshness without any hassle.  
            </p>
			<h2>Vision</h2>
			<p class="pb-3" style="text-indent:50px">
				Our main idea is to serve the best quality and standard products to any corner of the world. We believe our only existence is the result of customer satisfaction and their support in every phase of our journey to success. Therefore; we abide to be dedicated and reliable to each one of you always.
            </p>
			<h2>Mission</h2>
			<p class="pb-3" style="text-indent:50px">
			    We undertake the responsibility to serve the freshest and finest products to our customers directly from farm to doorstep; without hindering the reliance of the customers regarding the quality and originality of the products. Our fundamental mission thought is to be the synonym of freshness and quality.
            </p>
		</b-modal>
	</div>
</template>

<script>
export default {
	name: "Aboutus"
};
</script>
