<template>
  <div class="add-feedback">
    <b-modal id="bv-modal-addfeedback" hide-footer>
      <template #modal-title> Add Feedback </template>
      <div class="d-block">
        <form>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <div class="address-single selected">
                <p class="mb-0">
                  Rate your experience with us
                </p>
                <div class="ratings mt-3">
					<AwesomeVueStarRating :disabled="this.disabled" :star="star" :maxstars="maxstars" :starsize="starsize" :hasresults="hasresults" :hasdescription="hasdescription" :ratingdescription="ratingdescription" />
					  <!-- <i class="fa fa-star active" aria-hidden="true"></i>
					  <i class="fa fa-star active" aria-hidden="true"></i>
					  <i class="fa fa-star active" aria-hidden="true"></i>
					  <i class="fa fa-star active" aria-hidden="true"></i>
					  <i class="fa fa-star" aria-hidden="true"></i>
					  <span class="green">Good</span> -->
                </div>
                <textarea class="form-control mt-3" placeholder="Write your review" id="exampleFormControlTextarea1" rows="3" v-model="feedback"></textarea>
				<span class="message-error-input" v-if="errors.feedback">{{errors.feedback}}*</span>
              </div>
            </div>
          </div>
          <b-button class="mt-3 btn-primary" block @click="addFeedback()">Submit</b-button>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import AwesomeVueStarRating from 'awesome-vue-star-rating'
export default {
	name: "Addfeedback",
	props: {
		orderId : {
			type: Number
		}
	},
	components: {
		AwesomeVueStarRating
	},
	data(){
		return {
			valid:true,
			feedback:'',
			errors: {
				feedback:'',
			},
			star: 5, // default star
			ratingdescription: [
				{
				  text: 'Poor',
				  class: 'star-poor'
				},
				{
				  text: 'Below Average',
				  class: 'star-belowAverage'
				},
				{
				  text: 'Average',
				  class: 'star-average'
				},
				{
				  text: 'Good',
				  class: 'star-good'
				},
				{
				  text: 'Excellent',
				  class: 'star-excellent'
				}
			],
			hasresults: true,
			hasdescription: true,
			starsize: 'lg', //[xs,lg,1x,2x,3x,4x,5x,6x,7x,8x,9x,10x],
			maxstars: 5,
			disabled: false,
			rating:0
		};
	},
	methods: {
		addFeedback(){
			this.errors = {};
			this.valid = true;
			this.rating = $('li.star.active').length;
			if (!this.feedback) {
				this.errors.feedback = 'Feedback is required.';
				this.valid = false;
			}
			
			if(this.valid){
				axios.post('/add-feedback/'+this.orderId,{rating : this.rating,feedback:this.feedback}).then(response => {
					this.$bvModal.msgBoxOk('Feedback submitted successfully', {
					  title: '',
					  size: 'sm',
					  buttonSize: 'sm',
					  okVariant: 'success',
					  headerClass: 'p-2 border-bottom-0',
					  footerClass: 'p-2 border-top-0',
					  centered: true
					})
					this.$bvModal.hide('bv-modal-addfeedback');
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			}
		}
	},
};
</script>
<style lang="scss">
 .star {
  color: '#969696';
 }
 .star.active {
  color: '#f5b12d';
 }
 .list, .list.disabled {
  &:hover {
    .star {
      color: '#f5b12d' !important;
    }
    .star.active {
      color: '#f5b12d';
    }
  }
}
</style>
