<template>
  <div class="add-address">
    <b-modal id="bv-modal-address" ref="address-modal" hide-footer @hide="resetAddressModal">
      <template #modal-title> Add new address </template>
      <div class="d-block">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h5>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Set your delivery area
              </h5>
            </div>
            <div class="form-group col-md-6">
              <input
                type="text"
                class="form-control"
                id="inputAddress"
				v-model="forms.address"
                placeholder="Enter your delivery area"
              />
			  <span class="message-error-input" v-if="errors.address">{{errors.address}}*</span>
            </div>
            <div class="form-group col-md-6">
              <a href="javascript:void(0)" @click="detectLocation()">
                <span class="detect-location">
                  <img src="@/assets/images/gps.png" /> Detect current location
                </span>
              </a>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h5>
                <i class="fa fa-home" aria-hidden="true"></i> Delivery Address
              </h5>
            </div>
            <div class="form-group col-md-6">
              <input
                type="text"
                class="form-control"
                id="inputName"
                placeholder="Name"
				v-model="forms.name"
              />
			  <span class="message-error-input" v-if="errors.name">{{errors.name}}*</span>
            </div>
            <div class="form-group col-md-6">
              <input
                type="text"
                class="form-control"
                id="inputMobile"
                placeholder="Phone Number"
				v-model="forms.mobile"
				maxlength="10"
              />
			  <span class="message-error-input" v-if="errors.mobile">{{errors.mobile}}*</span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputFlat"
              placeholder="House/Flat no"
			  v-model="forms.flat"
            />
			<span class="message-error-input" v-if="errors.flat">{{errors.flat}}*</span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputArea"
              placeholder="Area"
			  v-model="forms.area"
            />
			<span class="message-error-input" v-if="errors.area">{{errors.area}}*</span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputLandmark"
              placeholder="Landmark"
			  v-model="forms.landmark"
            />
			<span class="message-error-input" v-if="errors.landmark">{{errors.landmark}}*</span>
          </div>
          <div
            class="btn-group btn-group-toggle home-ofc-oth"
            data-toggle="buttons"
          >
            <label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '1') }">
              <input
                type="radio"
                id="option1"
				value="1"
				v-model="forms.address_type"
              />
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </label>
            <label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '2') }">
              <input
                type="radio"
                id="option2"
				value="2"
				v-model="forms.address_type"
              />
              <i class="fa fa-briefcase" aria-hidden="true"></i> Office
            </label>
            <label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '3') }">
              <input
                type="radio"
                id="option3"
				value="3"
				v-model="forms.address_type"
              />
              <i class="fa fa-map-marker" aria-hidden="true"></i> Other
            </label>
          </div>

          <b-button
            class="mt-5 btn-primary"
            block
            type="submit"
            >Save & Continue</b-button
          >
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import { bus } from '../main'
export default {
	name: "Addnewaddress",
	
	data(){
		return {
			forms: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1,
			},
			errors: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			},
			
			valid:true,
		};
	},
	methods:{
		detectLocation(){
			this.$getLocation()
			  .then(coordinates => {
				console.log(coordinates);
				const latlng = {
					lat: parseFloat(coordinates.lat),
					lng: parseFloat(coordinates.lng),
				  };
				const geocoder = new google.maps.Geocoder();
				geocoder.geocode({ location: latlng }, (results, status) => {
				if (status === "OK") {
					if (results[0]) {
						console.log(results[0].formatted_address);
						this.forms.address = results[0].formatted_address;
					} else {
						window.alert("No results found");
					}
				} else {
					  window.alert("Geocoder failed due to: " + status);
					}
				});
			});
		},
		submit() {
			this.errors = {};
			this.valid = true;
			if (!this.forms.mobile) {
				this.errors.mobile = 'Mobile number is required.';
				this.valid = false;
			} else if (!this.validMobile(this.forms.mobile)) {
				this.errors.mobile = 'Mobile number must be 10 digits.';
				this.valid = false;
			}
			
			if (!this.forms.name) {
				this.errors.name = 'Name is required.';
				this.valid = false;
			}
			
			if (!this.forms.address) {
				this.errors.address = 'Address is required.';
				this.valid = false;
			}
			
			if (!this.forms.flat) {
				this.errors.flat = 'House/Flat is required.';
				this.valid = false;
			}
			
			if (!this.forms.area) {
				this.errors.area = 'Area is required.';
				this.valid = false;
			}
			
			if (!this.forms.landmark) {
				this.errors.landmark = 'Landmark is required.';
				this.valid = false;
			}
			
			if(this.valid){
				var self = this;
				axios.post('/address/new', this.forms).then(response => {
					this.$refs['address-modal'].hide();
					bus.$emit('deliveryLocation', response.data);
					this.$store.dispatch('addAddress', response.data)
					this.$store.dispatch('chooseAddress', response.data)
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			}
		},
		validMobile: function (mobile) {
		  var re = /^\d{10}$/;
		  return re.test(mobile);
		},
		resetAddressModal() {
			this.errors = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			};
			this.forms = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1
			};
			this.valid = false;
			//this.$bvModal.hide('bv-modal-address-change')
		}
		
	}
};
</script>
