<template>
  <div class="banner">
    <VueSlickCarousel v-bind="settings" :arrows="false" :dots="true" v-if="banners.length > 0">
      
      <a v-for="(banner,index) in banners" :key="index" :href="banner.link" target="_blank" :title="banner.name">
		<div 
        class="banner-area bg-no-repeat bg-cover  bg-white hero relative"
        :style="{ backgroundImage: `url(${imageURL+banner.image})` }"
      ></div></a>
    </VueSlickCarousel>
  </div>
</template>

<script>

import VueSlickCarousel from "vue-slick-carousel";
import { imageURL } from '@/config';

export default {
	components: { VueSlickCarousel },
	name: "Banner",
	props: {
		banners: Array,
	},
	data() {
		return {
			imageURL: imageURL,
			settings: {
				autoplay :true
			},
		};
	},
};
</script>
