<template>
  <VueSlickCarousel v-bind="settings" :arrows="true" :dots="false" v-if="products.length > 0">
    <div class="slide-wrap"  v-for="(product,index) in products" :key="index">
      <router-link :to="{ name: 'product.view', params: {slug: product.slug,name: product.ecom_name,productId: product.id} }">
        <b-card>
			<img v-if="product.images.length > 0 && product.images[0].full" :src="imageURL+product.images[0].full" alt="image" class="img-fluid full-width" />
			<div class="card-body-wrap">
				<div class="card-title">
				  {{product.ecom_name | truncate(60, '...')}}
				</div>
				<p class="pr-no">Product No: {{product.number}}</p>
				<b-card-text>
				  {{product.short_description | truncate(100, '...')}}
				</b-card-text>
				<div class="net-gross">
				  <div class="net-wt" v-if="product.net_weight">
					Net wt: {{product.net_weight | round}}gms
				  </div>
				  <div class="gross-wt" v-if="product.gross_weight">
					Gross wt: {{product.gross_weight | round}}gms
				  </div>
				  <div class="net-wt" v-if="product.unit_id == 3">
					Pieces: {{product.pieces}}
				  </div>
				</div>
				<div class="price-btn">
					<span class="price" v-if="product.sale_price > 0">
						₹{{product.sale_price | round}}
					</span>
					<span class="price" v-else>
						MRP: ₹{{product.price | round}}
					</span>
					<span class="mrp" v-if="product.sale_price > 0">
						MRP: <span class="brake">₹{{product.price | round}}</span>
					</span>
					<span class="off" v-if="product.sale_price > 0">
						{{offerPercentage(product.price,product.sale_price)}}% OFF
					</span>
					<div v-if="checkInCart(product)" class="input-counter">
						<div role="group" class="input-group">
							<!---->
							<div class="input-group-prepend">
							  <button type="button" class="btn btn-outline-info" v-on:click.prevent="decrementQuantity(product.id)">-</button>
							</div>
							<span class="cart-quantity">{{product.quantity}}</span>
							<div class="input-group-append">
							  <button type="button" class="btn btn-outline-secondary" v-on:click.prevent="incrementQuantity(product.id)">+</button>
							</div>
							<!---->
						</div>
					</div>
					<b-button v-if="!checkInCart(product)" v-on:click.prevent="addProductToCart(product)" variant="primary" class="ml-auto">Add to cart</b-button>
				</div>
				<div class="delivery text-center">
				  <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
				  90 min
				</div>
			</div>
        </b-card>
      </router-link>
    </div>
  </VueSlickCarousel>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import { imageURL } from '@/config';
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
	props: {
		products: Array,
	},
	filters: {
		round: function (value) {
			if(!value) {
				value = 0;
			}
			var decimals = 0;
			value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
			return value;
		},
		
	},
	data: () => ({
		imageURL: imageURL,
		settings: {
		  dots: false,
		  infinite: true,
		  speed: 500,
		  slidesToShow: 3,
		  slidesToScroll: 3,
		  touchThreshold: 5,
		  accessibility: false,
		  focusOnSelect: false,
		  responsive: [
			{
			  breakpoint: 1200,
			  settings: {
				arrows: false,
			  },
			},
			{
			  breakpoint: 1024,
			  settings: {
				slidesToShow: 2,
				slidesToScroll: 1,
				arrows: false,
			  },
			},
			{
			  breakpoint: 600,
			  settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
			  },
			},

		  ],
		},
	}),
	components: {
		VueSlickCarousel,
	},
	methods: {
		offerPercentage(price,salePrice) {
			var decreaseValue = price - salePrice;
			return ((decreaseValue / price) * 100).toFixed(0);
		},
		checkInCart(product){
			const cartItem = this.cartProducts.find(cart => cart.id == product.id)
			if(cartItem){
				product.quantity = cartItem.quantity;
				return true;
			}else{
				return false;
			}
		},
		...mapActions(['addProductToCart','decrementQuantity','incrementQuantity'])
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  cartProducts: 'cartProducts'
		})
	},
	
};
</script>
