<template>
	<div>
		<b-modal id="modal-cart" ref="cart-modal" @show="$store.commit('STORE_CART')" hide-footer>
			<template #modal-title>
			  My Cart ({{products.length}} items)
			</template>
			<p v-show="!products.length"><i>Please add some products to cart.</i></p>
			
			<div v-if="products.length > 0" >
				<div class="delivering-to" v-if="chosenAddress.id > 0">
					<span class="mid-head">Delivering to:</span>
					<a href="javascript:void(0)" class="primary-link float-right" @click="changeCurrent()">CHANGE</a>
					<p class="pt-1">
						<span class="mid-head" v-if="chosenAddress.address_type == 1">Home:</span>
						<span class="mid-head" v-if="chosenAddress.address_type == 2">Office:</span>
						<span class="mid-head" v-if="chosenAddress.address_type == 3">Other:</span> {{chosenAddress.flat}}, {{chosenAddress.address}}, {{chosenAddress.area}}...
					</p>
					<input type="hidden" name="address_id" :value="chosenAddress.id">
				</div>
				<div class="order-delivery">
                  <span class="mid-head">Order Delivery</span>
                  <p class="pt-1">
                    <img src="@/assets/images/food-delivery.png" /> Your package
                    will be delivered within 90 mins of ordering
                  </p>
                </div>
				<div class="cart-total-wrap">
					<div class="cart-product-wrap" v-for="(product,index) in products" :key="product.id">
						<div class="row pb-1">
						  <div class="col-8 head">
							<span class="count-no">{{index+1}}</span>{{product.name}}
						  </div>
						  <div class="col-4 input-counter">
							<div role="group" class="input-group">
								<!---->
								<div class="input-group-prepend">
								  <button type="button" class="btn btn-outline-info" v-on:click.prevent="decrementQuantity(product.id)">-</button>
								</div>
								<span class="cart-quantity">{{product.quantity}}</span>
								<div class="input-group-append">
								  <button type="button" class="btn btn-outline-secondary" v-on:click.prevent="incrementQuantity(product.id)">+</button>
								</div>
								<!---->
							</div>
							
						  </div>
						  <div class="col-12 wg">
							<p v-if="product.netWt">Net wt: {{product.netWt | round}}gms</p>
							<p v-if="product.grossWt">Gross wt: {{product.grossWt | round}}gms</p>
							<p v-if="product.unit == 3">Pieces: {{product.pieces}}</p>
						  </div>
						  <div class="col-12 price-remove">
							<div class="row">
							  <div class="col-7">
								<ul>
								  <li>
									<a href="javascript:void(0)" @click="removeProductFromCart(product.id)">Remove</a>
								  </li>
								  <li>
									<a href="javascript:void(0)" @click="saveForLater(product.id)">Save for later</a>
								  </li>
								</ul>
							  </div>
							  <div class="col-5 total-amount">
								<p>₹{{product.price}}</p>
							  </div>
							</div>
						  </div>
						</div>
					 </div>
					<hr style="margin:0px 20px;" />
				</div>
			
				<div class="bottom-wrap">
				  <p>Promo code can be applied on payment page</p>
				  <a v-on:click.prevent="chkCheckout()" class="btn btn-third">Proceed to checkout <span>₹{{ total | round }}</span></a>
				</div>
			</div>
		</b-modal>
	</div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import { bus } from '../main'
export default {
	data() {
		return {
			selectedAddress:{}
		};
	},
	mounted () {
		this.getProfile();
	},
	methods:{
		getProfile(){
			if (this.$store.getters.getLoggedUser != null) {
				axios.get('/users/profile')
				.then(response => {
					this.$store.dispatch('setAddress', response.data.data.address)
				})
			}
		},
		chkCheckout() {
			this.$refs['cart-modal'].hide()
			this.$router.push({ name: 'checkout' }).catch(()=>{});
		},
		changeCurrent(){
			this.$bvModal.show('bv-modal-address-change');
			//bus.$emit('setDelivery', this.selectedAddress);
		},
		saveForLater(productId){
			if (!this.$store.getters.getLoggedUser) {
				sessionStorage.setItem('redirectPath', this.$route.path);
				this.$store.dispatch('openLogInDialog',true)
			}
			axios.post('/product/save-for-later', {productId : productId}).then(response => {
				this.$store.dispatch('removeProductFromCart',productId)
			}).catch(error => {
				
			});
		},
		...mapActions(['removeProductFromCart','decrementQuantity','incrementQuantity'])
		
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  products: 'cartProducts',
		  total: 'cartTotalPrice',
		  address:'customerAddresses',
		  chosenAddress:'getCurrentAddress'
		})
	},
	filters: {
		round: function (value) {
			if(!value) {
				value = 0;
			}
			var decimals = 0;
			value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
			return value;
		}
	}
};
</script>
