<template>
	<div class="container">
		<b-navbar toggleable="lg" type="dark">
			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
			<b-collapse id="nav-collapse" is-nav>
				<b-navbar-nav>
					<b-nav-item v-for="(category,index) in categories" :key="index" :to="{ name: 'category.view', params: {slug: category.slug,name: category.name} }" >
						<img :src="imageURL+category.icon" />
						{{category.name}}
					</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</div>
</template>

<script>

import { imageURL } from '@/config';
export default {
  name: "Categories",
	data() {
		return {
			imageURL: imageURL,
			categories:[]
		};
	},
	watch: {
		$route(to, from) {
		}
	},
	mounted () {
		axios.get('/categories')
		.then(response => {
			this.categories = response.data.data
		})
		.catch(function (error) {
			console.log(error);
		});
	}
};
</script>
