<template>
	<div class="chooseaddress">
		<b-modal id="bv-modal-address-change" ref="choose-address-modal" hide-footer>
			<template #modal-title> Choose Address </template>
			<div class="d-block">
				<div class="form-row">
					<div class="col-md-12 mb-3">
						<a @click="$bvModal.show('bv-modal-address')" class="btn btn-secondary">
							<i class="fa fa-plus" aria-hidden="true"></i> Add Address
						</a>
					</div>
					<div class="col-md-12 mb-3" v-for="(address) in addresses" :key="address.id">
						<div class="address-single" @click="activate(address)" v-bind:class="{ selected: active_el == address.id }">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
							<h6 v-if="address.address_type == 1">Home: <a href="javascript:void(0)" @click="edit(address)" class="primary-link edit">Edit</a></h6>
							<h6 v-if="address.address_type == 2">Office: <a href="javascript:void(0)" @click="edit(address)" class="primary-link edit">Edit</a></h6>
							<h6 v-if="address.address_type == 3">Other: <a href="javascript:void(0)" @click="edit(address)" class="primary-link edit">Edit</a></h6>
							<p class="mb-0">
							  {{address.flat}}, {{address.address}}, {{address.area}}, {{address.landmark}}
							</p>
						</div>
					</div>
				</div>
				<b-button class="mt-3 btn-primary" @click="setDeliveryLocation()" block>Deliver Here</b-button>
			</div>
		</b-modal>
		<b-modal id="bv-modal-edit-address" ref="address-edit-modal" hide-footer @hide="resetAddressModal">
		  <template #modal-title> Edit address </template>
		  <div class="d-block">
			<form @submit.prevent="submit">
			  <div class="form-row">
				<div class="form-group col-md-6">
				  <input
					type="text"
					class="form-control"
					id="inputAddress"
					v-model="forms.address"
					placeholder="Enter your delivery area"
				  />
				  <span class="message-error-input" v-if="errors.address">{{errors.address}}*</span>
				</div>
				<div class="form-group col-md-6">
				  <a href="javascript:void(0)" @click="detectLocation()">
					<span class="detect-location">
					  <img src="@/assets/images/gps.png" /> Detect current location
					</span>
				  </a>
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-md-12 mb-3">
				  <h5>
					<i class="fa fa-home" aria-hidden="true"></i> Delivery Address
				  </h5>
				</div>
				<div class="form-group col-md-6">
				  <input
					type="text"
					class="form-control"
					id="inputName"
					placeholder="Name"
					v-model="forms.name"
				  />
				  <span class="message-error-input" v-if="errors.name">{{errors.name}}*</span>
				</div>
				<div class="form-group col-md-6">
				  <input
					type="text"
					class="form-control"
					id="inputMobile"
					placeholder="Phone Number"
					v-model="forms.mobile"
					maxlength="10"
				  />
				  <span class="message-error-input" v-if="errors.mobile">{{errors.mobile}}*</span>
				</div>
			  </div>
			  <div class="form-group">
				<input
				  type="text"
				  class="form-control"
				  id="inputFlat"
				  placeholder="House/Flat no"
				  v-model="forms.flat"
				/>
				<span class="message-error-input" v-if="errors.flat">{{errors.flat}}*</span>
			  </div>
			  <div class="form-group">
				<input
				  type="text"
				  class="form-control"
				  id="inputArea"
				  placeholder="Area"
				  v-model="forms.area"
				/>
				<span class="message-error-input" v-if="errors.area">{{errors.area}}*</span>
			  </div>
			  <div class="form-group">
				<input
				  type="text"
				  class="form-control"
				  id="inputLandmark"
				  placeholder="Landmark"
				  v-model="forms.landmark"
				/>
				<span class="message-error-input" v-if="errors.landmark">{{errors.landmark}}*</span>
			  </div>
			  <div
				class="btn-group btn-group-toggle home-ofc-oth"
				data-toggle="buttons"
			  >
				<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '1') }">
				  <input
					type="radio"
					id="option1"
					value="1"
					v-model="forms.address_type"
				  />
				  <i class="fa fa-home" aria-hidden="true"></i> Home
				</label>
				<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '2') }">
				  <input
					type="radio"
					id="option2"
					value="2"
					v-model="forms.address_type"
				  />
				  <i class="fa fa-briefcase" aria-hidden="true"></i> Office
				</label>
				<label class="btn btn-secondary" v-bind:class="{ active: (this.forms.address_type == '3') }">
				  <input
					type="radio"
					id="option3"
					value="3"
					v-model="forms.address_type"
				  />
				  <i class="fa fa-map-marker" aria-hidden="true"></i> Other
				</label>
			  </div>

			  <b-button
				class="mt-5 btn-primary"
				block
				type="submit"
				>Save & Continue</b-button
			  >
			</form>
		  </div>
		</b-modal>
	</div>

</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

import { bus } from '../main'
export default {
	name: "Chooseaddress",
	data(){
		return {
			selectedAddress:{},
			active_el:0,
			forms: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1,
			},
			errors: {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			},
			
			valid:true,
		}
	},
	computed: {
		...mapGetters({
		  addresses:'customerAddresses',
		  chosenAddress:'getCurrentAddress'
		})
	},
	methods: {
		activate:function(el){
			this.active_el = el.id;
			this.selectedAddress = el;
		},
		setDeliveryLocation(){
			bus.$emit('deliveryLocation', this.selectedAddress);
			this.$store.dispatch('chooseAddress', this.selectedAddress)
			this.$bvModal.hide('bv-modal-address-change')
		},
		edit(item) {
			this.forms.address			= item.address
			this.forms.flat				= item.flat
			this.forms.area				= item.area
			this.forms.name				= item.name
			this.forms.mobile			= item.mobile
			this.forms.landmark			= item.landmark
			this.forms.address_type		= item.address_type
			this.forms.id				= item.id
			this.$bvModal.show('bv-modal-edit-address')
		},
		detectLocation(){
			this.$getLocation()
			  .then(coordinates => {
				console.log(coordinates);
				const latlng = {
					lat: parseFloat(coordinates.lat),
					lng: parseFloat(coordinates.lng),
				  };
				const geocoder = new google.maps.Geocoder();
				geocoder.geocode({ location: latlng }, (results, status) => {
				if (status === "OK") {
					if (results[0]) {
						console.log(results[0].formatted_address);
						this.forms.address = results[0].formatted_address;
					} else {
						window.alert("No results found");
					}
				} else {
					  window.alert("Geocoder failed due to: " + status);
					}
				});
			});
		},
		submit() {
			this.errors = {};
			this.valid = true;
			if (!this.forms.mobile) {
				this.errors.mobile = 'Mobile number is required.';
				this.valid = false;
			} else if (!this.validMobile(this.forms.mobile)) {
				this.errors.mobile = 'Mobile number must be 10 digits.';
				this.valid = false;
			}
			
			if (!this.forms.name) {
				this.errors.name = 'Name is required.';
				this.valid = false;
			}
			
			if (!this.forms.address) {
				this.errors.address = 'Address is required.';
				this.valid = false;
			}
			
			if (!this.forms.flat) {
				this.errors.flat = 'House/Flat is required.';
				this.valid = false;
			}
			
			if (!this.forms.area) {
				this.errors.area = 'Area is required.';
				this.valid = false;
			}
			
			if (!this.forms.landmark) {
				this.errors.landmark = 'Landmark is required.';
				this.valid = false;
			}
			
			if(this.valid){
				axios.post('/address/edit/'+this.forms.id, this.forms).then(response => {
					this.$bvModal.hide('bv-modal-edit-address')
					this.$store.dispatch('updateAddress', response.data)
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			}
		},
		validMobile: function (mobile) {
		  var re = /^\d{10}$/;
		  return re.test(mobile);
		},
		resetAddressModal() {
			this.errors = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:''
			};
			this.forms = {
				address:'',
				name:'',
				mobile:'',
				flat:'',
				area:'',
				landmark:'',
				address_type:1
			};
			this.valid = false;
		},
	},
	created () {
		this.active_el = this.chosenAddress.id;
	},
	mounted () {
		this.active_el = this.chosenAddress.id;
	},
	
	
};
</script>
