<template>
  <div>
    <b-modal id="bv-modal-editprofile" hide-footer @hide="resetEditModal">
      <template #modal-title> Edit Profile </template>
      <div class="d-block text-center">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-6 mb-3">
              <input type="text" v-model="profile.name" class="form-control" placeholder="User Name" />
			  <span class="message-error-input" v-if="errors.name">{{errors.name}}*</span>
            </div>
            <div class="col-6 mb-3">
              <input
                type="email"
                class="form-control"
				v-model="profile.email"
                placeholder="username@gmail.com"
              />
			  <span class="message-error-input" v-if="errors.email">{{errors.email}}*</span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 mb-3">
              <input
                type="text"
                class="form-control"
				v-model="profile.mobile"
				maxlength="10"
                placeholder="Phone number"
              />
			  <span class="message-error-input" v-if="errors.mobile">{{errors.mobile}}*</span>
            </div>
          </div>
          <div class="form-row phnno" v-if="showOTP">
            <div class="col-md-12 text-left">
              <p class="mb-0"><b>Phone Number Verification</b></p>
              <p>Enter the OTP send to {{profile.mobile}}</p>
            </div>
            <div class="col-8 mb-3">
              <input type="text" class="form-control" maxlength="6" v-model="otp" placeholder="Enter OTP" />
			  <span class="message-error-input" v-if="errors.otp">{{errors.otp}}*</span>
            </div>
            <div class="col-4 mb-3">
              <a v-on:click.prevent="verifyOTP()" class="btn btn-primary">Confirm</a>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="width:100%;">
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters} from 'vuex'
export default {
	name: "Editprofile",
	data() {
		return {
			showOTP:false,
			oldMobile: this.$store.getters.getLoggedUser.mobile,
			errors:{
				mobile: '',
				name: '',
				email:'',
				otp:''
			},
			otp:'',
			valid:true,
			otpSuccess:true,
		};
	},
	methods:{
		submit(){
			this.errors = {};
			this.valid = true;
			if (!this.profile.mobile) {
				this.errors.mobile = 'Mobile number is required.';
				this.valid = false;
			} else if (!this.validMobile(this.profile.mobile)) {
				this.errors.mobile = 'Mobile number must be 10 digits.';
				this.valid = false;
			}
			
			if((this.profile.mobile != this.oldMobile) && this.profile.mobile){
				this.valid = false;
				this.otpSuccess = false;
				if(!this.showOTP){
					var self = this;
					axios.post('/verify-phone', {mobile : this.profile.mobile})
					.then(function(response){
						if(response){
							self.showOTP = true;
							self.valid = true;
						}
					})
					.catch(function (error) {
						try {
							if(error.response.status == 409) {
								self.errors.mobile = error.response.data.message
							}
						} catch(e) {
							console.log(e)
						}
					});
				}
				if(this.showOTP){
					if (!this.otp) {
						this.errors.otp = 'OTP is required.';
						this.valid = false;
					}else if (!this.validOTP(this.otp)) {
						this.errors.otp = 'OTP number must be 6 digits.';
						this.valid = false;
					}
				}
			}else{
				this.showOTP = false;
			}
			
			if (!this.profile.email) {
				this.errors.email = 'Email address is required.';
				this.valid = false;
			} else if (!this.validEmail(this.profile.email)) {
				this.errors.email = 'Please enter a valid email address';
				this.valid = false;
			}
			
			if (!this.profile.name) {
				this.errors.name = 'Name is required.';
				this.valid = false;
			}
			
			if(this.valid && this.otpSuccess){
				var self = this;
				axios.post('/users/profile/save', this.profile).then(response => {
					self.$bvModal.hide('bv-modal-editprofile')
					self.$store.dispatch('loggedUser', response.data.data.user)
				}).catch(error => {
					
				});
			}
		
		},
		validMobile: function (mobile) {
		  var re = /^\d{10}$/;
		  return re.test(mobile);
		},
		validOTP: function (otp) {
		  var re = /^\d{6}$/;
		  return re.test(otp);
		},
		validEmail: function (email) {
		  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
		  return re.test(email);
		},
		resetEditModal() {
			this.errors = {
				name:'',
				email:'',
				mobile:'',
				otp:'',
			};
			
			
			this.otp = null;
			this.valid = false;
			
		},
		verifyOTP(){
			this.errors.otp = '';
			if (!this.otp) {
				this.errors.otp = 'OTP is required.';
			} else if (!this.validOTP(this.otp)) {
				this.errors.otp = 'OTP number must be 6 digits.';
			}
			
			if (!this.errors.otp) {
				var self = this;
				axios.post('/verify-otp', {mobile : this.profile.mobile,otp:this.otp})
				.then(function(response){
					self.otpSuccess = true;
					self.showOTP 	= false;
					self.oldMobile  = self.profile.mobile;
					self.submit();
				})
				.catch(function (error) {
					try {
						if(error.response.status == 409) {
							self.errors.otp = error.response.data.message
						}
					} catch(e) {
						console.log(e)
					}
				});
			}
		},
	},
	created (){
		// create a new object with {...}
		this.profile = {
			// assign values to properties of same name
			name: this.$store.getters.getLoggedUser.name,
			mobile: this.$store.getters.getLoggedUser.mobile,
			email: this.$store.getters.getLoggedUser.email,
		};
	}
	
};
</script>
