<template>
	<div class="loading">
		<div class="loadergif">
			<img src="@/assets/images/loader.png" alt="image" class="img-fluid">
		</div>
	</div>
</template>

<style>
.loading {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.64);
	top:0;
}

.loadergif {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


</style>
<script>

import { imageURL } from '@/config';
export default {
	name: "Loader",
	data() {
		return {
			imageURL: imageURL,
		};
	},
};
</script>
