<template>
	<div>
		<b-modal :visible="modal1Visible" @hidden="resetModal" @hide="$store.commit('OPEN_LOGIN', null)" ref="login-modal" id="modal-signin" title="Login/Sign Up" hide-footer>
			<div class="form-wrapper" v-if="!ifEmail">
				<p>
				<input
					type="tel"
					id="mobile"
					name="mobile"
					maxlength="10"
					class="form-control mb-4"
					placeholder="Enter Phone Number"
					v-bind:readonly="isReadOnly"
					v-model="loginData.mobile"
				/>
				<span class="edit-number" v-if="showOtp" v-on:click.prevent="resetModal()">Edit</span>
				</p>
				<span class="errormessage" v-if="errors.mobile">Mobile number is required*</span>
				<p>
				<input
					v-if="showOtp"
					type="tel"
					id="otp"
					name="otp"
					maxlength="6"
					class="form-control mb-4"
					placeholder="Enter OTP"
					v-model="loginData.otp"
				/>
				<span class="resend-otp" v-if="showOtp" v-on:click.prevent="resendOTP()">Resend OTP</span>
				</p>
				<span class="errormessage" v-if="errors.otp">OTP is required*</span>
				<button class="btn btn-primary" v-on:click.prevent="login()">Proceed</button>
			</div>
			<!-- <div class="form-wrapper" v-if="ifEmail">
				<input
					type="email"
					id="email"
					name="email"
					class="form-control mb-4"
					placeholder="Enter Email Address"
					v-model="loginData.email"
				/>
				<span class="errormessage" v-if="errors.email">Email is required*</span>
				<input
					type="password"
					id="password"
					name="password"
					class="form-control mb-4"
					placeholder="Enter Password"
					v-model="loginData.password"
				/>
				<span class="errormessage" v-if="errors.password">Password is required*</span>
				<button class="btn btn-primary" v-on:click.prevent="loginWithEmail()">Proceed</button>
			</div> 
			<span class="or">or</span>
			
			<button class="btn btn-secondary mb-4" v-on:click="ifEmail = !ifEmail" >
			  <img v-if="ifEmail" src="@/assets/images/email.png" class="l_icon" />
			  <img v-else src="@/assets/images/email.png" class="l_icon" />
			  <span v-if="ifEmail">Continue with Phone</span>
			  <span v-else>Continue with Email</span>
			</button>-->
			<span class="or">or</span>
			<button class="btn btn-secondary" v-on:click.prevent="loginWithGoogle()">
			  <img src="@/assets/images/searchicon.png" class="l_icon" />
			  Continue with Google
			</button>
			<hr class="mt-4" />
			<!-- <div class="newto">
			  New to Freshoppe? <a href="#">Create an account</a>
			</div> -->
		</b-modal>
	</div>
</template>

<script>
import { imageURL } from '@/config';
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			loginData: {
				mobile: '',
				otp: '',
				email: '',
				password: '',
			},
			errors: {
				mobile: false,
				otp: false,
				email: false,
				password: false,
			},
			isReadOnly:false,
			showOtp:false,
			show: true,
			ifMobile: true,
			ifEmail: false,
		};
	},
	methods:{
		login() {
			var self = this;
			Object.keys(this.errors).forEach(function(key) {
                self.errors[key] = false
            });
				
			if(self.loginData.mobile !='' && !self.showOtp){
				axios.post('/send-otp', self.loginData)
				.then(function(response){
					if(response){
						self.showOtp 	= true;
						self.isReadOnly = true;
					}
					
				})
				.catch(function (error) {
					try {
						if(error.response.status == 422) {
							for(var errorKey in error.response.data) {
								if(errorKey in self.errors) {
									self.errors[errorKey] = true
								}
							}
						}
					} catch(e) {
						console.log(e)
					}
				});
			}else if(self.loginData.mobile =='' && !self.showOtp){
				self.errors['mobile'] = true;
			}
			
			
			if(self.loginData.otp !='' && self.loginData.mobile !=''){
				axios.post('/login-with-otp', self.loginData)
				.then(function(response){
					self.$store.dispatch('loggedUser', response.data)
					self.$store.dispatch('storeCart')
					self.$refs['login-modal'].hide()
					self.$router.push(sessionStorage.getItem('redirectPath') || '/').catch(()=>{});
					sessionStorage.removeItem('redirectPath');
				})
				.catch(function (error) {
					console.log(error)
				});
			}else if(self.loginData.otp ==''  && self.showOtp){
				self.errors['otp'] = true;
			}
		},
		
		loginWithEmail() {
			var self = this;
			Object.keys(this.errors).forEach(function(key) {
                self.errors[key] = false
            });
			if(self.loginData.email !='' && self.loginData.password !=''){
				axios.post('/login-with-password', self.loginData)
				.then(function(response){
					self.$store.dispatch('loggedUser', response.data)
					self.$store.dispatch('storeCart')
					self.$refs['login-modal'].hide()
					self.$router.push(sessionStorage.getItem('redirectPath') || '/').catch(()=>{});
					sessionStorage.removeItem('redirectPath');
				})
				.catch(function (error) {
					try {
						if(error.response.status == 422) {
							for(var errorKey in error.response.data) {
								if(errorKey in self.errors) {
									self.errors[errorKey] = true
								}
							}
						}
					} catch(e) {
						console.log(e)
					}
				});
				
			}else if(self.loginData.email =='' && self.loginData.password  ==''){
				self.errors['email'] = true;
				self.errors['password'] = true;
			}else if(self.loginData.email ==''){
				self.errors['email'] = true;
			}else if(self.loginData.password ==''){
				self.errors['password'] = true;
			}
		},
		loginWithGoogle() {
			var self = this;
			this.$gAuth
				.signIn()
				.then(GoogleUser => {
				
				var profile = GoogleUser.getBasicProfile();
				var userInfo = {
					loginType: 'google',
					google_id: profile.getId(),
					email: profile.getEmail(),
					name: profile.getGivenName(),
				}
				axios.post('/google-signin', userInfo)
				.then(function(response){
					self.$store.dispatch('loggedUser', response.data)
					self.$store.dispatch('storeCart')
					self.$refs['login-modal'].hide()
					self.$router.push(sessionStorage.getItem('redirectPath') || '/').catch(()=>{});
					sessionStorage.removeItem('redirectPath');
				})
				.catch(function (error) {
					console.log(error)
				})
				this.$router.push({ name: 'Home' }).catch(()=>{});
			})
			.catch(error => {
			  console.log('error', error)
			})
		},
		resetModal() {
			this.loginData = {
				mobile: '',
				otp: '',
				email: '',
				password: '',
			};
			this.errors = {
				mobile: false,
				otp: false,
				email: false,
				password: false,
			};
			this.ifMobile = true;
			this.ifEmail = false;
			this.isReadOnly = false;
			this.showOtp = false;
			this.show = true;
		},
		resendOTP(){
			axios.post('/send-otp', self.loginData)
			.then(function(response){
				if(response){
					self.showOtp 	= true;
					self.isReadOnly = true;
				}
				
			})
			.catch(function (error) {
				try {
					if(error.response.status == 422) {
						for(var errorKey in error.response.data) {
							if(errorKey in self.errors) {
								self.errors[errorKey] = true
							}
						}
					}
				} catch(e) {
					console.log(e)
				}
			});
		
		}
	},
	computed: {
		modal1Visible() {
			return this.$store.state.loginModal;
		}
	}
	
};
</script>
