<template>
	<div>
		<b-modal id="bv-modal-mycart" ref="mycart-modal" hide-footer>
			<template #modal-title> My Cart </template>
			<div class="d-block text-center" v-if="products.length > 0">
				<div class="cart-product-wrap" v-for="(product,index) in products" :key="product.id">
					<div class="row pb-1">
						<div class="col-8 head">
						  <span class="count-no">{{index+1}}</span>{{product.name}}
						</div>
						<div class="col-4 input-counter">
						  <div role="group" class="input-group">
							<!---->
							<div class="input-group-prepend">
							  <button type="button" class="btn btn-outline-info" @click="decrementQuantity(product.id)">-</button>
							</div>
							<span class="cart-quantity">{{product.quantity}}</span>
							<div class="input-group-append">
							  <button type="button" class="btn btn-outline-secondary" @click="incrementQuantity(product.id)">
								+
							  </button>
							</div>
							<!---->
						  </div>
						</div>
						<div class="col-12 wg">
							<p v-if="product.netWt">Net wt: {{product.netWt | round}}gms</p>
							<p v-if="product.grossWt">Gross wt: {{product.grossWt | round}}gms</p>
							<p v-if="product.unit == 3">Pieces: {{product.pieces}}</p>
						</div>
						<div class="col-12 price-remove">
						  <div class="row">
							<div class="col-7">
							  <ul>
								<li>
								  <a href="javascript:void(0)" @click="removeProductFromCart(product.id)">Remove</a>
								</li>
								<li>
								  <a href="javascript:void(0)" @click="saveForLater(product.id)">Save for later</a>
								</li>
							  </ul>
							</div>
							<div class="col-5 total-amount">
							  <p><b>₹{{product.price}}</b></p>
							</div>
						  </div>
						</div>
					</div>
					<hr style="margin:0px;" />
				</div>
				<div class="bottom-wrap">
				  <a @click="$bvModal.hide('bv-modal-mycart')" class="btn btn-third">Proceed to checkout <span>₹{{ total | round }}</span></a>
				</div>
			</div>
		</b-modal>
	</div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
export default {
	name: "Mycart",
	data() {
		return {
		  num: 1,
		};
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  products: 'cartProducts',
		  total: 'cartTotalPrice'
		})
	},
	methods:{
		saveForLater(productId){
			if (!this.$store.getters.getLoggedUser) {
				sessionStorage.setItem('redirectPath', this.$route.path);
				this.$store.dispatch('openLogInDialog',true)
			}
			axios.post('/product/save-for-later', {productId : productId}).then(response => {
				this.$store.dispatch('removeProductFromCart',productId)
			}).catch(error => {
				
			});
		},
		...mapActions(['removeProductFromCart','decrementQuantity','incrementQuantity'])
		
	},
	filters: {
		round: function (value) {
			if(!value) {
				value = 0;
			}
			var decimals = 0;
			value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
			return value;
		}
	},
};
</script>
