<template>
	<div class="add-address">
		<b-modal id="bv-modal-privacy" ref="privacy-modal" hide-footer>
			<template #modal-title><h2> Privacy Policy </h2></template>
			<h3>REGISTRATION PROCESS & PRIVACY</h3>
			<p class="pb-3" style="text-indent:50px">
				The website collects your information i) First & Last Name ii) Email Address iii) Mobile Number & Contact Details iv) Postal Details v) Personal Details including age, gender, occupation etc. only for business prerequisites. While sharing the details, the customer agrees to promotional communication including text and mobile notifications, phone calls and newsletters.
            </p>
			<h3>WHO CAN SIGN UP</h3>
			<p class="pb-3" style="text-indent:50px">
				According to Section 11 of the Indian Contract Act, 1872, any person who is competent to contract provided who is above 18 years old, is mentally fit and not disqualified from contracting by any other law. Therefore, any person who falls under these amendments can sign up for the site.
            </p>
			<h3>DATA INFORMATION</h3>
			<p class="pb-3" style="text-indent:50px">
				<strong>Unifresh Foods LLP</strong> assures your security of your personal information provided on the website, and we reassure this information will not be passed to third party companies or agencies for any other promotional activities. Yet, the website may carry web links of other brands that are managed by Google Analytics to optimize users’ behaviour. <strong>Unifresh Foods LLP</strong> shall not take the responsibilities for such websites.<br /><br />
				The customers should be careful from using the site for any commercial purpose or use it for any kind of data collection including content, description, product listing or prices. No one can reproduce, duplicate, sell or resell, copy, manipulate or manoeuvre any portion of the site without taking written compliance from Fresh Catch. No one carries the right to duplicate or use the trademark, logo or any other possession without the consent of the company. Any illegitimate or unapproved use of the contents, images or anything on the site will automatically terminate the granted permission.
            </p>
			<h3>THIRD PARTY INVOLVEMENT</h3>
			<p class="pb-3" style="text-indent:50px">
				We employ other companies and individuals for the functions on our behalf. The major third party involvement includes in packaging, delivery, marketing, data analysing, and customer service and payment assistance. These third parties have access to the personal information provided for the smooth functionality of their services and may not use it for other purposes.  They process the personal information as per the applicable law.
            </p>
			<h3>KYC INFORMATION</h3>
			<p class="pb-3" style="text-indent:50px">
				Any financial information pertaining to credit/debit card number, UPI ID, billing address or any other financial application registration will remain with the Razorpay and will not be shared with anyone else. This information will be available with Razorpay for 30 days and will be discarded after it. This information will be governed by Razorpay’s private policy.
            </p>
			<h3>CHILDREN’S PRIVACY</h3>
			<p class="pb-3" style="text-indent:50px">
				<strong>Unifresh Foods LLP</strong> does not entertain children in any way and therefore, we do not promote or collect personal information from person under the age of 18. You may use <strong>Unifresh Foods LLP</strong> services under the guidance of adults. If we detect any orders or information are passed on by the children under 18, we have the whole rights to delete the information and account.
            </p>
		</b-modal>
	</div>
</template>

<script>
export default {
	name: "Privacy"
};
</script>
