<template>
	<div>
		<b-modal id="bv-modal-promocode" hide-footer>
			<template #modal-title><img src="@/assets/images/discount.png" class="img-fluid" /> Apply promo code</template>
			<div class="d-block">
				<p>Have a promo code/referal code?</p>
				<form class="form-inline">
					<div class="form-group">
						<label for="promocode" class="sr-only">Promocode</label>
						<b-form-input
						type="text"
						class="form-control"
						id="promocode"
						v-model="promocode"
						placeholder="Enter Code"
						></b-form-input>
						<span class="message-error-input" v-if="errors.promocode">{{errors.promocode}}*</span>
					</div>
					<button v-on:click.prevent="applyPromo()" class="btn btn-primary">
						Apply Coupon
					</button>
				</form>
				<ul>
					<li>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</li>
					<li>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
					</li>
				</ul>
			</div>
		</b-modal>
	</div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import { bus } from '../main'
export default {
	name: "Promocodeoffers",
	data(){
		return {
			valid:true,
			promocode:'',
			errors: {
				promocode:'',
			},
		};
	},
	computed: {
		...mapGetters({
		  total: 'cartTotalPrice',
		})
	},
	methods: {
		applyPromo(){
			this.valid = true;
			if (!this.promocode) {
				this.errors.promocode = 'Promocode is required.';
				this.valid = false;
			}
			
			if(this.valid){
				var self = this;
				self.errors.promocode = '';
				axios.post('/apply-promo',{promocode : this.promocode,total:this.total}).then(response => {
					this.$bvModal.msgBoxOk('Promocode applied successfully', {
					  title: '',
					  size: 'sm',
					  buttonSize: 'sm',
					  okVariant: 'success',
					  headerClass: 'p-2 border-bottom-0',
					  footerClass: 'p-2 border-top-0',
					  centered: true
					})
					bus.$emit('updateOffer', response.data);
					this.$bvModal.hide('bv-modal-promocode');
				})
				.catch(function (error) {
					try {
						if(error.response.status == 409) {
							self.errors.promocode = error.response.data.message;
						}
					} catch(e) {
						console.log(e)
					}
				});
			}
		}
	}
};
</script>
