<template>
	<div class="add-address">
		<b-modal id="bv-modal-shipping" ref="shipping-modal" hide-footer>
			<template #modal-title><h2> Shipping & Return Policy </h2></template>
			<p class="pb-3" style="text-indent:50px">
				The shipping services are provided for the orders from India only. <br/><br/>
				Free shipping on orders above Rs.300/-. The delivery charges are not hidden charges and are charged as per the places the products are sold.  The total price of the product will include shipping duties & taxes.<br/> <br/>
				The availability of the COD option depends on our courier partner at your location. If the courier partner at your location accepts the cash on payment policy, then and then only you can receive the COD option at your place.
            </p>
			<h3>RETURNS</h3>
			<p class="pb-3" style="text-indent:50px">
				Once you place the exchange or return request, our logistics partner will contact you and share the time when the item will be picked up from you. In case, the logistic service is unable to contact you for the pick-up facility, you can return the item through a third-party service.<br/><br/>
				
				The fresh products are excluded from the exchange policy. The customer holds the right to return the product if the product delivered has quality or freshness issues. Read-to-cook food packets can be returned only if there is issue with quality. The product once unsealed and used cannot be returned. Returns will be accepted within 14 days after delivery. Refund will be done within 72 hours after return. The refund will be initiated in cash or to the source of payment or will be added into the wallet.
			</p>
		</b-modal>
	</div>
</template>

<script>
export default {
	name: "Shipping"
};
</script>
