<template>
	<div class="single-card" v-if="product">
		<router-link :to="{ name: 'product.view', params: {slug: product.slug,name: product.ecom_name,productId: product.id} }">
			<b-card>
				<img v-if="product.images.length > 0 && product.images[0].full" :src="imageURL+product.images[0].full" alt="image" class="img-fluid">
				<div class="card-body-wrap">
					<span class="favourites" v-if="types==2">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
					<span class="saved-item" v-if="types==1">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
					<div class="card-title">
						{{product.ecom_name | truncate(50, '...')}}
					</div>
					<p class="pr-no">Product No: {{product.number}}</p>
					<div class="net-gross">
						<div class="net-wt" v-if="product.net_weight">
						  Net wt: {{product.net_weight | round}}gms
						</div>
						<div class="gross-wt" v-if="product.gross_weight">
						  Gross wt: {{product.gross_weight | round}}gms 
						</div>
						<div class="net-wt" v-if="product.unit_id == 3">
							Pieces: {{product.pieces}}
						</div>
					</div>
					<div class="price-btn">
						<span class="price" v-if="product.sale_price > 0">
							₹{{product.sale_price | round}}
						</span>
						<span class="price" v-else>
							MRP: ₹{{product.price | round}}
						</span>
						<span class="mrp" v-if="product.sale_price > 0">MRP: <span class="brake">₹{{product.price | round}}</span></span>
						<div v-if="checkInCart(product)" class="input-counter">
							<div role="group" class="input-group">
								<!---->
								<div class="input-group-prepend">
								  <button type="button" class="btn btn-outline-info" v-on:click.prevent="decrementQuantity(product.id)">-</button>
								</div>
								<span class="cart-quantity">{{product.quantity}}</span>
								<div class="input-group-append">
								  <button type="button" class="btn btn-outline-secondary" v-on:click.prevent="incrementQuantity(product.id)">+</button>
								</div>
								<!---->
							</div>
						</div>
						<b-button v-if="!checkInCart(product)" v-on:click.prevent="addProductToCart(product)" variant="primary" class="ml-auto">Add to cart</b-button>
					</div>
					<div class="delivery text-center" v-if="types==0" >
						<span><img src="@/assets/images/scooter.png" /> Delivery in</span>
						90 min
					</div>
					<div>
						<a v-if="types > 0" v-on:click.prevent="removeItem(product.id)" class="primary-link" style="text-align:right;display:block;font-size:14px;font-weight:400;">Delete</a>
					</div>
				</div>
			</b-card>
		</router-link>
	</div>
</template>

<script>
import { imageURL } from '@/config';
import { mapGetters, mapState, mapActions } from 'vuex'
import { bus } from '../main'
export default {
	name: "SingleCard",
	props: {
		product: Object,
		types: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			imageURL: imageURL,
		};
	},
	methods: {
		checkInCart(product){
			const cartItem = this.cartProducts.find(cart => cart.id == product.id)
			if(cartItem){
				product.quantity = cartItem.quantity;
				return true;
			}else{
				return false;
			}
		},
		removeItem(productId){
			if(this.types==1){
				if (!this.$store.getters.getLoggedUser) {
					sessionStorage.setItem('redirectPath', this.$route.path);
					this.$store.dispatch('openLogInDialog',true)
				}
				axios.post('/product/save-for-later', {productId : productId}).then(response => {
					bus.$emit('updateSaveLater', productId);
				}).catch(error => {
					
				});
			}
			if(this.types==2){
				if (!this.$store.getters.getLoggedUser) {
					sessionStorage.setItem('redirectPath', this.$route.path);
					this.$store.dispatch('openLogInDialog',true)
				}
				bus.$emit('updateFavourite', productId);
				this.$store.dispatch('removeFavourite', productId)
			}
		},
		...mapActions(['addProductToCart','decrementQuantity','incrementQuantity'])
	},
	filters: {
	  round: function (value) {
		if(!value) {
			value = 0;
		}
		var decimals = 0;
		value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
		return value;
	  }
	},
	computed: {
		...mapState({
		  checkoutStatus: state => state.cart.checkoutStatus
		}),
		...mapGetters({
		  cartProducts: 'cartProducts'
		})
	}
};
</script>
