<template>
	<div class="add-address">
		<b-modal id="bv-modal-terms" ref="terms-modal" hide-footer>
			<template #modal-title><h2> Terms & Conditions </h2></template>
			<p class="pb-3" style="text-indent:50px">
				The website www.freshoppe.com is operated by <strong>Unifresh foods LLP</strong>, with the registered office at Unifreshfoods LLP, Near RMC Circle, Bamboo Bazaar, Mysore, Karnataka - 570 001, India.
            </p>
			<h3>CONDITIONS TO ACCESS SITE</h3>
			<p class="pb-3" style="text-indent:50px">
				<strong>Unifresh Foods LLP</strong>, allows the customer the right to use this site for personal use only. The customer doesn’t carry the right to download or edit any written content, photographs or design on the site.
            </p>
			<h3>PRICING</h3>
			<p class="pb-3" style="text-indent:50px">
				Each product displayed on the website may fluctuate accordingly for the fresh foods products. The additional amount on the fresh foods will be collected on the date of delivery or will be refunded in case of a lower price. Also, the price showed is excluding GST or other taxes, if any. Delivery charges (if any) will be included in the final bill.  
            </p>
			<h3>ORDER CANCELLATION</h3>
			<p class="pb-3" style="text-indent:50px">
				Once the order is placed, the customer can cancel the order within the first hour after the order placement in case of fresh food products. The amount will be refunded for advance payment.<strong>Unifresh Foods LLP</strong>, holds all the rights to cancel any order if the order placed is speculated to be false or deceptive or the customer violates the terms & conditions mentioned on the website.
            </p>
			<h3>CUSTOMER ACKNOWLEDGEMENT</h3>
			<p class="pb-3" style="text-indent:50px">
				As a customer, I agree:<br/><br/>		
				To pay an additional amount if <strong>Unifresh Foods LLP</strong> has to recommit/retransmit the product due to incorrect address or details while ordering.<br /><br/>
				To follow all the rules and laws mentioned in the www.freshoppe.com<br /><br/>
				To provide accurate and factual information during the registration process. If any found fabricated or wrong, <strong>Unifresh Foods LLP</strong> has all the rights to rebuff the registration. <br /><br/>
				To receive the services available at my own risk after understanding the product and services with care and knowledge. <br /><br/>
				The product features and descriptions have been read and acknowledged before the placement of the order and agreeing to the terms and conditions. <br /><br/>
				The product received may not resemble the same shown in the image. There may have variations in fresh food products as they are not always comprehensively cut as in the image.
            </p>
			<h3>PICTURES AND COLORS</h3>
			<p class="pb-3" style="text-indent:50px">
				The pictures and of the product is made as accurate as possible. Any variation in the same is due to the technical features used while photographing. Also, the pictures shown on the website is owned and copyrighted by <strong>Unifresh Foods LLP</strong>.
            </p>
			<h3>MODIFICATION OF TERMS & CONDITIONS</h3>
			<p class="pb-3" style="text-indent:50px">
				<strong>Unifresh Foods LLP</strong> holds all the rights to make changes or modify the terms and conditions in the website without any notifications. While ordering, the person is abiding to accept the terms and conditions applicable on the website at that time.
            </p>
		</b-modal>
	</div>
</template>

<script>
export default {
	name: "Terms"
};
</script>
