<template>
  <div>
    <b-modal id="bv-modal-vieworder" hide-footer>
      <template #modal-title>
        <span class="product">Product</span>
        <span class="Quantity">Quantity</span>
        <span class="Price">Price</span>
      </template>
      <div class="d-block">
		<div v-for="(products,index) in orderData.items" :key="products.id" >
			<div class="order-wrap" >
				<div class="product-one">
				<span class="count-no">{{index+1}}</span>
				<h5>{{products.product.ecom_name}}</h5>
				<span v-if="products.net_weight">Net wt: {{products.net_weight | round}}gms</span>
				<span v-if="products.gross_weight">Gross wt: {{products.gross_weight | round}}gms</span>
				<span v-if="products.product.unit == 3">Pieces: {{products.product.pieces}}</span>
				</div>
				<div class="quantity-pr">
				{{products.quantity}}
				</div>
				<div class="price">
				<span>₹{{products.product.price}}</span>
				₹{{products.price}}
				</div>
			</div>
			<hr/>
        </div>
		<div class="btn-primary amount" v-if="orderData.payment">Total Amount <span>₹{{orderData.payment.grand_total}}</span></div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Vieworder",
  props: {
	orderData : {
        type: Object,
		default: function () { return [] }
	}
  },
  created(){
  },
  filters: {
		round: function (value) {
			if(!value) {
				value = 0;
			}
			var decimals = 0;
			value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
			return value;
		}
	},
};
</script>
