<template>
  <div id="app">
	<Loader v-if="displayLoader"/>
	<notifications group="notify" class="notify"/>
	
    <header>
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <p class="mb-0">1800-208-7575 | customercare@unifreshfoods.com</p>
            </div>
            <div class="col-6">
              <ul class="top-lists">
                <li><a href="javascript:void(0)" @click="$bvModal.show('bv-modal-aboutus')">About us</a></li>
                <li><a href="javascript:void(0)" @click="scrollMeTo('contact')">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="logo-search-wrapper">
        <div class="container">
          <b-navbar-brand to="/" class="logo">
            <img src="@/assets/images/logo.png" class="img-fluid" />
          </b-navbar-brand>
          <span class="location-wrappper">
            <img src="@/assets/images/map.png" class="img-fluid" /> Mysore
          </span>
		  <b-nav-form>
			<autocomplete 
				:search="search"
				placeholder="Search"
				aria-label="Search"
				:get-result-value="getResultValue"
				@submit="handleSubmit"
			>
			</autocomplete>
			<button type="button" class="btn btn-primary">
              <img src="@/assets/images/search.png" />
            </button>
			</b-nav-form> 
			
          <div class="ml-auto right-text cart-guest">
            
            <a v-show="!isLoggedIn" href="#" class="signin" v-b-modal.modal-signin>
              <img src="@/assets/images/user.png" /><span>Sign In</span>
            </a>
			<span v-if="isLoggedIn">
				<b-dropdown
				  id="dropdown-right"
				  right
				  :text="$store.getters.getLoggedUser.name"
				  variant="btn-white"
				  class="m-0"
				>
				  <b-dropdown-item :to="{ name: 'Userprofile' }">My Profile</b-dropdown-item>
				  <b-dropdown-item href="javascript:void(0)" v-on:click.prevent="logout()">Logout</b-dropdown-item>
				</b-dropdown>
			</span>
            <a href="#" class="cart-btn" v-b-modal.modal-cart>
              <div class="count">{{$store.getters.cartProducts.length}}</div>
              <img src="@/assets/images/cart.png" /><span>Cart</span>
            </a>
            <Login />
            <Cart />
            <Chooseaddress />
            <Addnewaddress />
            <Aboutus />
            <Terms />
            <Privacy />
            <Shipping />
          </div>
        </div>
      </div>
      <div id="nav">
        <keep-alive>
		<Categories />
        </keep-alive>
      </div>
    </header>
    <router-view />
	<!-- set progressbar -->
    <vue-progress-bar></vue-progress-bar>
    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4">
            <img src="@/assets/images/logo.png" class="img-fluid footer-logo" />
          </div>
          <div class="col-md-7 d-flex">
            <ul>
              <li><h4>Quick Links</h4></li>
              <li><a href="javascript:void(0)" @click="$bvModal.show('bv-modal-aboutus')">About Us</a></li>
              <!-- <li><a href="#">Blog</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Help</a></li> -->
              <li><a href="javascript:void(0)" @click="$bvModal.show('bv-modal-privacy')">Privacy Policy</a></li>
              <li><a href="javascript:void(0)" @click="$bvModal.show('bv-modal-shipping')">Shipping Policy</a></li>
              <li><a href="javascript:void(0)" @click="$bvModal.show('bv-modal-terms')">Terms & Conditions</a></li>
              <!-- <li><a href="#">Why Choose Us?</a></li>
              <li><a href="#">Quality Measures</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Terms Of Services</a></li> -->
            </ul>
            <div class="download-app">
              <h4>Download our App</h4>
              <a href="#" class="app"
                ><img src="@/assets/images/appstore.png"
              /></a>
              <a href="https://play.google.com/store/apps/details?id=com.freshoppe" target="_blank" class="app"><img src="@/assets/images/gplay.png"/></a>
              <h4 class=" mt-4">Stay Connected</h4>
              <div class="social-media">
                <a target="_blank" href="https://www.facebook.com/freshoppefood/"
                  ><i class="fa fa-facebook-square" aria-hidden="true"></i
                ></a>
                <a target="_blank" href="https://www.instagram.com/freshoppefoods/"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
                <a target="_blank" href="https://twitter.com/freshoppe1"
                  ><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5"  ref="contact">
            <div class="row">
              <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>
                  Call: 1800-208-7575<br />
                  Email: customercare@unifreshfoods.com
                </p>
                <h4>Office Address</h4>
                <p>
                  Unifreshfoods LLP <br />
                  Near RMC Circle, Bamboo Bazaar, <br />
                  Mysore, Karnataka - 570 001<br />
				  India
                </p>
              </div>
              <div class="col-md-6">
                <img
                  src="@/assets/images/master.png"
                  class="img-fluid float-right"
                />
				<img
                  src="@/assets/images/freshcatch.png"
                  class="img-fluid float-right frshcatch"
                  style="max-width:180px;"
                />
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12">
            <p class="mb-0">
              <strong>You know fresh meat tastes different?</strong>
            </p>
            <p class="pb-3">
              At Freshoppe, we believe in tradition, values and the goodness of
              fresh meat. Experience the taste, texture and tenderness of farm
              fresh meat delivered straight from high quality farms. No more
              compromises, no inconvenience, just the unmistakable, sweet smell
              of juicy, all-natural meat.
            </p>
            <p class="mb-0">
              <strong>Farm to table, same day delivery</strong>
            </p>
            <p class="pb-3">
              To ensure consistent availability of fresh meat, we are redefining
              practices for the meat industry with high quality farms, hygienic
              slaughter houses and state-of-the-art cold chain supply.
            </p>
            <p class="mb-0"><strong>We say no to chemicals</strong></p>
            <p class="pb-3">
              Fresh meat is delivered to you the same day the animal is
              butchered, through a unique end-to-end cold chain supply that
              ensures farm freshness and zero contamination. Our meat is tastier
              and healthier with no harmful chemicals, preservatives, artificial
              flavors.
            </p>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12">
            <p class="pb-3">
              <strong>Chicken :</strong> Free Range Chicken , Chicken Wings ,
              Boneless Chicken Breast , Boneless Chicken , Chicken Drumsticks ,
              Chicken Thighs , Chicken Kalmi , Chicken Supreme , Chicken Pieces
              , Whole Chicken , Chicken with Skin , Chicken Keema , Chicken
              Whole Leg
            </p>
            <p class="pb-3">
              <strong>Mutton :</strong> Mutton Chops , Mutton Liver , Mutton
              Pieces , Mutton Curry Cut , Boneless Mutton , Mutton Nihari ,
              Mutton Kidney , Mutton Keema
            </p>
            <p class="pb-3">
              <strong>Seafoods :</strong> Catla Fish Cut , Catla Fish , Tiger
              Prawns , Red Snapper Fish , Rohu Fish Cut , Rohu Fish , Surmai
              Fish , White Pomfret Fish , Basa Fish , Bhetki Fish Fillet ,
              Singhara Fish , Sole Fish Fillet , Tuna Fish , Salmon Fish
            </p>
            <p class="pb-3">
              <strong>Eggs :</strong> Eggs 6 Pack , Eggs 10 Pack
            </p>
            <p class="pb-3">
              <strong>Ready To Cook :</strong> Chicken Malai Tikka , Achari
              Chicken Tikka , Schezwan Fish , Chilli Chicken , Peri Peri Chicken
              Wings , Tandoori Chicken , Chicken Platter , Non-Veg Platter
            </p>
            <p class="pb-3">
              <strong>Ready To Eat :</strong> Chicken Seekh Kebab , Mutton Seekh
              Kebab , Chicken Spicy Seekh Kebab , Chicken Malai Seekh Kebab ,
              Chicken Nuggets , Chicken Fingers , Chicken Tikka , Chicken Samosa
              , Mutton Samosa , Spicy Chicken Wings , Spicy Chicken Lollipop ,
              Chicken Meatballs , Chicken Fries , Chicken Breast Strips
            </p>
            <p class="pb-3">
              <strong>Cold-Cuts :</strong> Chicken Frankfurters , Chicken Salami
              Plain , Chicken Salami , Chicken Ham , Chicken Mortadella ,
              Chicken Sausage
            </p>
            <p class="pb-3">
              <strong>Speciality Meats :</strong> Duck Curry Cut With Skin ,
              Turkey Curry Cut , Blue Crab - Whole
            </p>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12 text-center">
            <p class="mb-0">
              © {{ new Date().getFullYear() }} Unifreshfoods LLP. All Rights Reserved.
            </p>
            <p class="mb-0 developedby">
              Developed by :
              <a href="https://techinsoft.com/" target="_blank"
                >Techins Software Solutions</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Loader from '@/components/Loader.vue'
import Categories from "@/components/Categories.vue";
import Cart from "@/components/Cart.vue";
import Login from "@/components/Login.vue";
import Aboutus from "@/components/Aboutus.vue";
import Terms from "@/components/Terms.vue";
import Privacy from "@/components/Privacy.vue";
import Shipping from "@/components/Shipping.vue";
import { mapGetters } from 'vuex'
import Autocomplete from '@trevoreyre/autocomplete-vue'
//import '@trevoreyre/autocomplete-vue/dist/style.css'
import Chooseaddress from "@/components/Chooseaddress.vue";
import Addnewaddress from "@/components/Addnewaddress.vue";
export default {
	components: {
		Categories,
		Loader,
		Cart,
		Login,
		Aboutus,
		Privacy,
		Terms,
		Shipping,
		Autocomplete,
		Chooseaddress,
		Addnewaddress
	},
	data() {
		return {
		  form: {
			place: null,
		  },
		  place: [
			{ text: "Mysore", value: null },
			"Bengaluru",
			"Mumbai",
			"Chennai",
		  ],
		};
	},
	methods:{
		logout() {
		  this.$router.push({ name: 'Home' }).catch(()=>{});
			this.$store.dispatch('logOut')
			.then(() => {
			})
		},
		search(input) {
			return new Promise(resolve => {
				if (input.length < 3) {
					return resolve([])
				}
				axios.get('/search',{
					params: {
					  search: encodeURI(input)
					}
				})
				.then(response => response.data)
				.then(data => {
				  resolve(data)
				})
			})
			
		},
		getResultValue(result) {
		  return result.name
		},
		handleSubmit(result) {
		  this.$router.push({ name: 'product.view' , params: {slug: result.slug,name: result.name,productId: result.id}}).catch(()=>{});
		},
		scrollMeTo(refName) {
			var element = this.$refs[refName];
			var top = element.offsetTop - 400;
			window.scrollTo(0, top);
		}
	},
	computed: {
        ...mapGetters({
            displayLoader: 'getDisplayLoader'
        }),
		isLoggedIn : function(){ 
			return this.$store.getters.getLoggedUser
		}
    },
	mounted () {
		window.scrollTo(0, 0);
		var self = this;
		axios.interceptors.request.use(config => {
			self.$Progress.start();
			return config
		}, error => {
			self.$Progress.finish();
			return Promise.reject(error)
		})
		
		axios.interceptors.response.use(response => {
			self.$Progress.finish();
			return response
		}, error => {
			self.$Progress.finish();
		})
	},
	created(){
		window.scrollTo(0, 0);
		var self = this;
		axios.interceptors.request.use(config => {
			self.$Progress.start();
			return config
		}, error => {
			self.$Progress.finish();
			return Promise.reject(error)
		})
		
		axios.interceptors.response.use(response => {
			self.$Progress.finish();
			return response
		}, error => {
			self.$Progress.finish();
		})
	},
	watch: {
		$route(to, from) {
			//window.location.reload()
			window.scrollTo(0, 0);
		}
	},
};
</script>
